---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="About Us - UChile Robotics" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/about-bg.jpg" title="About Us" subtitle="" meta="" %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <p>
                    UChile Robotics is currently formed by 3 teams, UChile Homebreakers, Pepper Team and UChile Robotics
                    SPL Team. All teams work at the Robotics Laboratory of the Electrical Department of the University
                    of Chile.
                </p>

                <p>
                    UChile Robotics is lead by Javier Ruiz del Solar.
                </p>

                <!--<br>-->
                <!--<h3>History</h3>-->
                <!--<p>-->
                    <!--Our laboratory also held teams for the ...-->
                <!--</p>-->

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}


</body>
</html>
