---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Homebreakers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/team-bg.jpg" title="UChile Homebreakers Team" subtitle="" meta="About Us" %}

    <!-- Sub Nav Bar -->
    {% include bender-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">The Team</h2>

                    <p>UChile Homebreakers was founded on 2006 and we have been developing Bender since then. We focus on human-robot interaction (HRI), computer vision, autonomous navigation, and manipulation research.</p>

                    <p>Our team is composed by nearly 15 people pursuing bachelors, masters and doctorate programs in Computer Science, Electrical Engineering, and Mechanical Engineering.</p>

                    <p>As a team, we have made efforts to spread robotics among chilean children at schools, and to guide new engineering students who are interested in the field.</p>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/jrds.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Javier Ruiz del Solar</h2>
                                    <p><b>Team Supervisor</b><br>
                                        E.E. MSc. PhD <br>
                                        E.E Teacher <br>
                                        Executive Director of the AMTC  </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Javier_RdS.pdf" target="_blank" class="btn">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Javier Ruiz del Solar <br> Team Supervisor</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/bender2.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Bender</h2>
                                    <p> Robot <br>
                                    </p>
                                </div>
                            </div>
                            <blockquote>Bender <br>Team's King</blockquote>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/ucampodonico.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Ulises Campodonico</h2>
                                    <p> M.E. student<p>
                                </div>
                            </div>
                            <blockquote> Ulises Campodonico <br>Team Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Pablo Alfessi</h2>
                                    <p> E.E. Student<p>
                                </div>
                            </div>
                            <blockquote> Pablo Alfessi <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Benjamin Castro</h2>
                                    <p> E.E. Student<p>
                                </div>
                            </div>
                            <blockquote> Benjamin Castro <br>Team Member</blockquote>
                        </div>
                        
                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Gonzalo Olguin</h2>
                                    <p> E.E. Student
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Gonzalo Olguin <br>Team Member</blockquote>
                        </div>


                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Fabiola Pizarro</h2>
                                    <p> E.E. Student
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Fabiola Pizarro <br>Team Member</blockquote>
                        </div>


                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2> Eduardo Loayza </h2>
                                    <p> M.E. Student </p>
                                </div>
                            </div>
                            <blockquote> Eduardo Loayza <br> Team Member </blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>  Víctor Vidal </h2>
                                    <p> E.E. Student </p>
                                </div>
                            </div>
                            <blockquote> Víctor Vidal <br> Team Member </blockquote>
                        </div>


                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>  Michelle Valenzuela </h2>
                                    <p> E.E. Student </p>
                                </div>
                            </div>
                            <blockquote> Michelle Valenzuela <br> Team Member </blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/placeholder.jpg" alt=""/>
                                <div class="mask">
                                    <h2>  Francisco Molina </h2>
                                    <p> E.E. Student </p>
                                </div>
                            </div>
                            <blockquote> Francisco Molina <br> Team Member </blockquote>
                        </div>

                    </div>

                    <br>
                    <hr>
                    <br>
                    <h2 class="section-heading">Former Members</h2>
                    <br>
                    <br>

                        <!--
                        {% include old_member.html name="Diego Baño" image="static/img/bender/people/diego2.jpg" info="" %}
                        {% include old_member.html name="Cristopher Gomez" image="static/img/bender/people/cgomez.jpg" info="Speech Recognition" %}
                        {% include old_member.html name="Lukas Pavez" image="static/img/bender/people/Lukas_Pavez.png" info="" %}
                        {% include old_member.html name="José Astorga" image="static/img/bender/people/JoseAstorga.png" info="" %}
                        -->
                          
                        <!-- PAST MEMBERS -->

                        {% include old_member.html name="Giovanni Pais" image="static/img/bender/people/gpais.jpg" info="." %}
                        {% include old_member.html name="Leonardo Garrido" image="static/img/bender/people/lgarrido2.jpg" info="." %}
                        {% include old_member.html name="Nicolás Marticorena" image="static/img/bender/people/nmarticorena.jpg" info="." %}
                        {% include old_member.html name="Javier Urrutia" image="static/img/bender/people/jurrutia.jpg" info="." %}
                        {% include old_member.html name="Ignacia Aguilera" image="static/img/bender/people/iaguilera.jpg" info="." %}
                        {% include old_member.html name="Patricio Loncomilla" image="static/img/bender/people/plocomilla.jpg" info="Advisor" %}
                        {% include old_member.html name="Luz Martinez" image="static/img/bender/people/luz.jpg" info="Advisor" %}
                        {% include old_member.html name="Matías Pavez" image="static/img/bender/people/mpavez.jpg" info="Advisor" %}
                        {% include old_member.html name="Rodrigo Muñoz" image="static/img/bender/people/rmuñoz.png" info="Advisor" %}
                        {% include old_member.html name="Gonzalo Olave" image="static/img/bender/people/golave.jpg" info="Advisor" %}
                        {% include old_member.html name="Gustavo Hernan" image="static/img/bender/people/ghernan.png" info="Advisor" %}
                        {% include old_member.html name="Enmanuel Almonte" image="static/img/bender/people/ealmonte.jpg" info="<p> Visiting Researcher <br>Fulbright Scholar</p>" %}
                        {% include old_member.html name="Diego Baño" image="static/img/bender/people/dbaño.jpg" info="." %}
                        {% include old_member.html name="Dario Palma" image="static/img/bender/people/dpalma.jpg" info="." %}
                        {% include old_member.html name="David Gomez" image="static/img/bender/people/dgomez.jpg" info="." %}
                        {% include old_member.html name="Mauricio Correa" image="static/img/bender/people/mcorrea.jpg" info="Advisor (Founder)" %}
                        {% include old_member.html name="Fernando Bernuy" image="static/img/bender/people/fbernuy.jpeg" info="Founder" %}
                        {% include old_member.html name="Daniel Herrmann" image="static/img/bender/people/herrmann.JPG" info="." %}
                        {% include old_member.html name="Maria Loreto Sanchez" image="static/img/bender/people/msanchez.jpg" info="Long-Term Memory" %}
                        {% include old_member.html name="Carlos Tampier" image="static/img/bender/people/ctampier.jpg" info="Manipulation" %}
                        {% include old_member.html name="Wilma Pairo" image="static/img/bender/people/wpairo.jpg" info="Follow" %}
                        {% include old_member.html name="Cristian Retamal" image="static/img/bender/people/cretamal.jpg" info="." %}
                        {% include old_member.html name="Ivan Castro" image="static/img/bender/people/icastro.jpg" info="." %}
                        {% include old_member.html name="Felipe Smith" image="static/img/bender/people/fsmith.JPG" info="Navigation" %}
                        {% include old_member.html name="Rodrigo Vershae" image="static/img/bender/people/rverschae.jpg" info="." %}
                        {% include old_member.html name="Pablo Huijse" image="static/img/bender/people/huijse.jpg" info="." %}
                        {% include old_member.html name="Isao Parra Tsunekawa" image="static/img/bender/people/isao.JPG" info="." %}
                        {% include old_member.html name="Jong Bor Lee" image="static/img/bender/people/jongbor.jpg" info="." %}
                        {% include old_member.html name="Romina Riquelme" image="static/img/bender/people/rriquelme.jpg" info="." %}
                        {% include old_member.html name="Simón Norambuena" image="static/img/bender/people/snorambuena.jpg" info="." %}
                        {% include old_member.html name="Ignacio Diaz" image="static/img/bender/people/idiaz.jpg" info="." %}
                        {% include old_member.html name="Carlos Toro" image="static/img/bender/people/ctoro.jpg" info="Founder" %}
                        {% include old_member.html name="Sebastian Cubillos" image="static/img/bender/people/scubillos.jpg" info="Founder" %}
                        {% include old_member.html name="Cristian Solís" image="static/img/bender/people/csolis.jpg" info="Founder" %}
                        {% include old_member.html name="Mauricio Mascaró" image="static/img/bender/people/mmascaro.jpg" info="Founder" %}
                        {% include old_member.html name="Ignacio Olavarría" image="static/img/bender/people/iolavarria.jpg" info="Founder" %}
                        {% include old_member.html name="Alejandro Vargas" image="static/img/bender/people/avargas.jpg" info="Founder" %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
