---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Bender Team - UChile Robotics" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/devel-bg.jpg" title="Development and Contribution" subtitle="" meta="UChile Homebreakers" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
