---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Bender - UChile Homebreakers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/index-bg.jpg" title="UChile Homebreakers Team" subtitle="" meta="Bender Robot" %}

    <!-- Sub Nav Bar -->
    {% include bender-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    <h2 class="section-heading">About</h2>

                    <p>Bender is a humanoid service robot from the Universidad de Chile, designed for human-robot interaction (HRI) in domestic environments. Using a wide set of capabilities including, showing emotions, face recognition, and voice synthesis/recognition, Bender can interact with people. Futhermore, he can recognize and manipulate objects and navigate through dynamic environments avoiding obstacles, in order to help with basic tasks at a home.</p>

                    <p> Bender was created by the Uchile Homebreakers team in 2007, at the Robotics Laboratory of the Electric Engineering Department. He used as a platform for the latest research and is under constant development, and once a year he participates in the RoboCup @Home international robotics competition. He has reached the 5th place among 24 teams, and thanks to his ability to show emotions he won the design innovation award in 2007 and 2008.</p>

                    <p>Now, the team is working towards upcoming competitions, and to give talks in different schools and Universities in Chile, as an effort to spark the robotics interest among students.</p>


                    <h2 class="section-heading">The Robot</h2>

                    <a href="#">
                        <img class="img-responsive" src="static/img/bender/gallery/Bender3.png" alt="">
                        
                    </a>

                    <h2 class="section-heading">Development</h2>
                    <p>Bender is developed under Ubuntu 20.04LTS using the ROS Noetic framework. Manipulation and
                        Navigation capabilities are built on top of standard libraries such as MoveIt and the ROS Navigation
                        stack. Speech Recognition is achieved using Whisper.
                    </p>

                    <p>Our code is hosted in <a
                            href="https://github.com/orgs/uchile-robotics">public repositorieson on GitHub</a>.</p>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
