---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Homebreakers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/team-bg.jpg" title="UChile Homebreakers Team" subtitle="" meta="About Us" %}

    <!-- Sub Nav Bar -->
    {% include bender-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">The Team</h2>

                    <p>UChile Homebreakers was founded on 2006 and we have been working on Bender since then. We focused our work on human robot interaction, computer vision, autonomous navigation and manipulation skills for Bender.</p>

                    <p>Our team is composed by nearly 15 people pursuing bachelor, masters and doctorate programs in computer science, electrical engineering and mechanical engineering.</p>

                    <p>As a team, we have made efforts to spread the robotics among chilean children at schools and by guiding new engineering students who are interested in the field.</p>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="http://bender.li2.uchile.cl/images/team/javier_ruiz_del_solar.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Javier Ruiz del Solar</h2>
                                    <p><b>Team Supervisor</b><br>
                                        E.E. MSc. PhD <br>
                                        E.E Teacher <br>
                                        Executive Director of AMTC  </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Javier_RdS.pdf" target="_blank" class="btn">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Javier Ruiz del Solar <br> Team Supervisor</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/luz.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Luz Martínez</h2>
                                    <p> <b>Team Leader</b><br>
                                        E.E. PhD student  <br>
                                        Object Recognition </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Martinez.pdf" class="btn" target="_blank">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Luz Martínez <br> Team Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/mpavez.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Matías Pavez</h2>
                                    <p><b>E.E. & C.Sc Student</b><br>
                                        Software Development Leader <br>
                                        Autonomous Navigation <br>
                                    </p>
                                    <a href="https://www.linkedin.com/in/mpavez" class="btn" target="_blank">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Matías Pavez <br>Software Development Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/Rodrigo_Munoz.png" alt=""/>
                                <div class="mask">
                                    <h2>Rodrigo Muñoz</h2>
                                    <p> E.E. Student<br>
                                        Hardware Technician  </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Rodrigo Muñoz <br>Hardware Technical Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/GonzaloOlave.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Gonzalo Olave</h2>
                                    <p> MSc. Student<br>
                                        Hardware Technician <br>
                                        Speech Recognition </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Gonzalo Olave<br> Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/Leo_Garrido.png" alt=""/>
                                <div class="mask">
                                    <h2>Leonardo Garrido</h2>
                                    <p> M.E. Student<p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Leonardo Garrido <br>Team Member</blockquote>
                        </div>
                        

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/Giovanni_Pais.png" alt=""/>
                                <div class="mask">
                                    <h2>Giovanni Pais</h2>
                                    <p> E.E. student<p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Giovanni Pais<br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/Gustavo_Hernan.png" alt=""/>
                                <div class="mask">
                                    <h2>Gustavo Hernan</h2>
                                    <p> E.E. Student  </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Gustavo Hernan <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/NicolasMarticorena.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Nicolás Marticorena</h2>
                                    <p> E.E. Student
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Nicolás Marticorena <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/EnmanuelAlmonte.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Enmanuel Almonte </h2>
                                    <p> Visiting Researcher <br>
                                        Fulbright Scholar
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Enmanuel Almonte <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/plocomilla.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Patricio Loncomilla</h2>
                                    <p>  E.E. MSc. Ph.D. <br> <br>
                                        Advisor </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Basal_PatricioLoncomilla.v2.pdf" class="btn" target="_blank">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Patricio Loncomilla<br>Advisor</blockquote>
                        </div>

                    </div>

                    <br>
                    <br>
                    <hr>
                    <br>
                    <h2 class="section-heading">Past Members</h2>
                        <!--
                        {% include old_member.html name="Diego Baño" image="static/img/bender/people/diego2.jpg" info="" %}
                        {% include old_member.html name="Cristopher Gomez" image="static/img/bender/people/cgomez.jpg" info="Speech Recognition" %}
                        {% include old_member.html name="Lukas Pavez" image="static/img/bender/people/Lukas_Pavez.png" info="" %}
                        {% include old_member.html name="José Astorga" image="static/img/bender/people/JoseAstorga.png" info="" %}
                        -->
                          
                        <!-- PAST MEMBERS -->
                        {% include old_member.html name="David Gomez" image="static/img/bender/people/DavidGomez.jpg" info="." %}
                        {% include old_member.html name="Mauricio Correa" image="static/img/bender/people/macorrea.jpg" info="Advisor (Founder)" %}
                        {% include old_member.html name="Fernando Bernuy" image="static/img/bender/people/Bernuy.jpeg" info="Founder" %}
                        {% include old_member.html name="Daniel Herrmann" image="static/img/bender/people/Herrmann.JPG" info="." %}
                        {% include old_member.html name="Maria Loreto Sanchez" image="static/img/bender/people/MariaSanchez_small.jpg" info="Long-Term Memory" %}
                        {% include old_member.html name="Carlos Tampier" image="static/img/bender/people/CarlosTampier.jpg" info="Manipulation" %}
                        {% include old_member.html name="Wilma Pairo" image="static/img/bender/people/WilmaPairo.jpg" info="Follow" %}
                        {% include old_member.html name="Cristian Retamal" image="static/img/bender/people/CristianRetamal.jpg" info="." %}
                        {% include old_member.html name="Ivan Castro" image="static/img/bender/people/IvanCastro.jpg" info="." %}
                        {% include old_member.html name="Felipe Smith" image="static/img/bender/people/FelipeSmith.JPG" info="Navigation" %}
                        {% include old_member.html name="Rodrigo Vershae" image="static/img/bender/people/Verschae.jpg" info="." %}
                        {% include old_member.html name="Pablo Huijse" image="static/img/bender/people/Huijse.jpg" info="." %}
                        {% include old_member.html name="Isao Parra Tsunekawa" image="static/img/bender/people/isao.JPG" info="." %}
                        {% include old_member.html name="Jong Bor Lee" image="static/img/bender/people/jongbor.jpg" info="." %}
                        {% include old_member.html name="Romina Riquelme" image="static/img/bender/people/romina.jpg" info="." %}
                        {% include old_member.html name="Simón Norambuena" image="static/img/bender/people/simon.jpg" info="." %}
                        {% include old_member.html name="Ignacio Diaz" image="static/img/bender/people/IgnacioDiaz.jpg" info="." %}
                        {% include old_member.html name="Carlos Toro" image="static/img/bender/people/carlos.jpg" info="Founder" %}
                        {% include old_member.html name="Sebastian Cubillos" image="static/img/bender/people/sebastian.jpg" info="Founder" %}
                        {% include old_member.html name="Cristian Solís" image="static/img/bender/people/cristian.jpg" info="Founder" %}
                        {% include old_member.html name="Mauricio Mascaró" image="static/img/bender/people/mauricio.jpg" info="Founder" %}
                        {% include old_member.html name="Ignacio Olavarría" image="static/img/bender/people/ignacio.jpg" info="Founder" %}
                        {% include old_member.html name="Alejandro Vargas" image="static/img/bender/people/alejandro.jpg" info="Founder" %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
