---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="News - UChile Homebreakers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/news-bg.jpg" title="Bender Robot" subtitle="" meta="UChile Homebreakers News" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2>Campaña Ideame 2015 (Julio 2015)</h2>

                    <strong>¡Muchas gracias a todos!</strong>

                    <p>A todos ustedes que nos apoyaron y colaboraron con la campaña de Ideame, que aportaron desde dos mil pesos hasta cincuenta mil pesos, Muchas gracias!.</p>

                    <p>Lamentablemente no obtuvimos el 100% de lo que necesitabamos pero con lo que obtuvimos vamos a costear la inscripción del equipo en la Robocup, las visas para viajar a China y repuestos para Bender.</p>

                    <p>Revisa las fotos de los colaboradores que visitaron a Bender más abajo.</p>

                    <h3>Agradecimientos a :</h3>
                    <ul>
                        <li><strong>Matías Pavez</strong>  (02/04/2015) </li>
                        <li><strong>Paula Cabrera</strong>  (09/04/2015) </li><!-- 2000 -->
                        <li><strong>Tomás Echeverría Gajardo</strong>  (17/04/2015) </li><!-- 1000en persona -->
                        <li><strong>Maria Belen Duran</strong>  (17/04/2015) </li> <!-- 10.000-->
                        <li><strong>Francisca Julliet Torre</strong>  (28/04/2015) </li> <!-- 10.000-->
                        <li><strong>Carolina Mayol Cotapos</strong> (31/03/2015)				</li>
                        <li><strong>Guaton</strong>	(31/03/2015)			</li>
                        <li><strong>Sergio Liberman</strong>	(31/03/2015)			</li>
                        <li><strong>Marisol Mora</strong>	(01/04/2015)			</li>
                        <li><strong>Cristopher Altamirano</strong>	(01/04/2015)			</li>
                        <li><strong>Sebastian Cerone</strong>	(03/04/2015)			</li>
                        <li><strong>Manuel </strong> (04/04/2015) </li>
                        <li><strong>Felipe Pickenpack</strong>	(05/04/2015)			</li>
                        <li><strong>Maxwell</strong>	(07/04/2015)			</li>
                        <li><strong>Valentín</strong>	(07/04/2015)			</li>
                        <li><strong>Francisco Jaramillo</strong>	(08/04/2015)			</li>
                        <li><strong>Ignacio Andrés Acuña Frias</strong>	(09/04/2015)			</li>
                        <li><strong>Francisco Casado</strong>	(09/04/2015)			</li>
                        <li><strong>Juan Pablo Pavez Fuentealba</strong>	(14/04/2015)			</li>
                        <li><strong>Catalina Caro</strong>	(17/04/2015)			</li>
                        <li><strong>Pablo Hernaiz</strong>	(20/04/2015)			</li>
                        <li><strong>Felipe Venegas</strong>	(20/04/2015)			</li>
                        <li><strong>Rodrigo Olguín Fuentes</strong>		(21/04/2015)		</li>
                        <li><strong>Miguel Alejandro Pavez</strong>		(29/04/2015)		</li>
                        <li><strong>Mónica Quiñones</strong>	(05/05/2015)			</li>
                        <li><strong>Claudio Tapia</strong>	(05/05/2015)			</li>
                        <li><strong>Fernando Bernuy</strong>	(05/05/2015)			</li>
                        <li><strong>Bárbara Matamala</strong>	(05/05/2015)			</li>
                        <li><strong>Silvana Mercado</strong>	(06/05/2015)			</li>
                        <li><strong>Isabel Alejandra Quezada</strong>	(07/05/2015)			</li>
                        <li><strong>Carolina Esquivel</strong>	(07/05/2015)			</li>
                        <li><strong>Marcelo Avilés</strong>	(07/05/2015)			</li>
                        <li><strong>Marlys Baier</strong>	(08/05/2015)			</li>
                    </ul>

                    <br>

                    <h3>Visitas</h3>
                    <p>El miercoles 20 de Mayo nos visitó Isabel Quezada junto a sus padres. Muchas gracias por su apoyo y buena onda. Acá van algunas de las fotos de Isabel junto a Bender, al equipo y a sus padres. </p>
                    <ul class="list-unstyled">
                        <li>
                            <a><img src="http://bender.li2.uchile.cl/images/gallery/Visitas/1.jpg" width="500" height="340" alt=""></a>
                            <blockquote>Isabel conversando con Luz y Bender sorprendido.</blockquote>
                        </li>
                        <li>
                            <a><img src="http://bender.li2.uchile.cl/images/gallery/Visitas/2.jpg" width="500" height="340" alt=""></a>
                            <blockquote>Bender e Isabel posando para la foto.</blockquote>
                        </li>
                        <li>
                            <a><img src="http://bender.li2.uchile.cl/images/gallery/Visitas/3.jpg" width="500" height="340" alt=""></a>
                            <blockquote>Isabel junto a sus padres y Bender.</blockquote>
                        </li>
                        <li>
                            <a><img src="http://bender.li2.uchile.cl/images/gallery/Visitas/4.jpg" width="500" height="390" alt=""></a>
                            <blockquote>Isabel junto a parte del equipo Homebreakers.</blockquote>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
