---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Code - UChile Homebreakers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/devel-bg.jpg" title="UChile Homebreakers Team" subtitle="" meta="Development and Contribution" %}

    <!-- Sub Nav Bar -->
    {% include bender-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <p>Bender is developed under Ubuntu 14.04LTS using the ROS Indigo framework. Manipulation and
                        Navigation capabilities are built on top of standard libraries such as MoveIt and the ROS Navigation
                        stack. Speech Recognition is achieved using Pocketphinx. Computer Vision is built on top of PCL
                        and OpenCV, and we run our simulations on Gazebo and Stage.
                    </p>

                    <p>Our code is hosted in <a
                            href="https://github.com/orgs/uchile-robotics">public repositorieson on GitHub</a>.</p>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
