---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Robocup - UChile Homebreakers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/robocup-bg.jpg" title="UChile Homebreakers Team" subtitle="" meta="Robocup" %}

    <!-- Sub Nav Bar -->
    {% include bender-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2 class="section-heading">Participation</h2>

                    <p>The UChile Homebreakers Team has participated at the RoboCup World Championship since 2007 with Bender. Since Bender focuses on service robotics, he performs in the @Home Open Platform League.</p>

                    <p>Since then, we have reached the 5th place amongst 24 teams and obtained 2 Innovation Awards due to Bender facial expression capabilities.</p>

                    <table class="table">
                        <thead>
                            <th>Year</th>
                            <th>Robocup</th>
                            <th>Location</th>
                            <th>Observations</th>
                        </thead>
                        <tbody>
                            <tr><td>2024</td><td>27th</td><td>Eindhoven, Netherlands</td><td> No Participation </td></tr>
                            <tr><td>2023</td><td>26th</td><td>Bordeaux, France</td><td> No Participation </td></tr>
                            <tr><td>2022</td><td>25th</td><td>Bangkok, Thailand</td><td> No Participation </td></tr>
                        	<tr><td>2021</td><td>24th</td><td>Remote Event</td><td>No Participation</td></tr>
                            <tr><td>2019</td><td>23rd</td><td>Sydney, Australia</td><td>No Participation</td></tr>
                            <tr><td>2018</td><td>22nd</td><td>Montréal, Canada</td><td>No Participation</td></tr>
                            <tr><td>2017</td><td>21st</td><td>Nagoya, Japan</td><td>Hardware failure</td></tr>
                            <tr><td>2016</td><td>20th</td><td>Leipzig, Germany</td><td>No Participation</td></tr>
                            <tr><td>2015</td><td>19th</td><td>Hefei, China</td><td></td></tr>
                            <tr><td>2014</td><td>18th</td><td>João Pessoa, Brazil</td><td></td></tr>
                            <tr><td>2013</td><td>17th</td><td>Eindhoven, The Netherlands</td><td></td></tr>
                            <tr><td>2012</td><td>16th</td><td>Mexico City, Mexico</td><td></td></tr>
                            <tr><td>2011</td><td>15th</td><td>Istanbul, Turkey</td><td></td></tr>
                            <tr><td>2010</td><td>14th</td><td>Singapore</td><td></td></tr>
                            <tr><td>2009</td><td>13th</td><td>Graz, Austria</td><td></td></tr>
                            <tr><td>2008</td><td>12th</td><td>Nagoya, Japan</td><td>Innovation Award</td></tr>
                            <tr><td>2007</td><td>11th</td><td>Atlanta, USA</td><td>Innovation Award</td></tr>
                        </tbody>
                    </table>

                    <h2 class="section-heading">Achievements</h2>

                    <ul>
                        <li><b>Innovation Award 2007:</b> First Place in the Innovation Award of the @Home League, 11th RoboCup World Championship.</li>
                        <li><b>Innovation Award 2008</b></li>
                    </ul>

                    <a href="#">
                        <img class="img-responsive" src="static/img/bender/gallery/IMGP3616.JPG" alt="">
                    </a>
                    <blockquote>UChile Homebreakers Team, 12th Robocup World Championship, 2008.</blockquote>              
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
