---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Bender Gallery - UChile Robotics" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/team-bg.jpg" title="Gallery" subtitle="" meta="UChile Homebreakers Team" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <!-- Slider-->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="background: transparent">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="static/img/bender/team/team2016.jpg" alt="" style="max-height: 500px; margin: 0 auto;">
                                <!--<div class="carousel-caption">-->
                                    <!--...-->
                                <!--</div>-->
                            </div>
                            <div class="item">
                                <img src="static/img/bender/team/team2.jpg" alt="" style="max-height: 500px; margin: 0 auto;">
                                <!--<div class="carousel-caption">-->
                                    <!--...-->
                                <!--</div>-->
                            </div>
                            <div class="item">
                                <img src="static/img/bender/team/team.jpg" alt="" style="max-height: 500px; margin: 0 auto;">
                                <!--<div class="carousel-caption">-->
                                    <!--...-->
                                <!--</div>-->
                            </div>
                            <div class="item">
                                <img src="static/img/bender/team/ptmontt.jpg" alt="" style="max-height: 500px; margin: 0 auto;">
                                <!--<div class="carousel-caption">-->
                                    <!--...-->
                                <!--</div>-->
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"  style="background: transparent">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background: transparent">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
