---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Bender Robocup - UChile Robotics" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/bender/robocup-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Robocup</h1>
                        <h2 class="subheading">UChile Homebreakers</h2>
                        <!--<span class="meta">Bender Robot developers</span>-->
                    </div>
                </div>
            </div>
        </div>
    </header>


    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2 class="section-heading">Participation</h2>

                    <p>The UChile Homebreakers Team has participated at the Robocup World Championship since 2007 with Bender. As bender focuses on service robotics, he attends the Open Platform @Home League.</p>

                    <p>Since then, we have reached the 5th place among 24 teams and obtained 2 Innovation Awards due to Bender facial expression capabilities.</p>

                    <table class="table">
                        <thead>
                            <th>Year</th>
                            <th>Robocup</th>
                            <th>Location</th>
                            <th>Observations</th>
                        </thead>
                        <tbody>
                            <tr><td>2017</td><td>21th</td><td>Nagoya, Japan</td><td>Intention of Participation</td></tr>
                            <tr><td>2016</td><td>20th</td><td>Leipzig, Germany</td><td>No Participation</td></tr>
                            <tr><td>2015</td><td>19th</td><td>Hefei, China</td><td></td></tr>
                            <tr><td>2014</td><td>18th</td><td>João Pessoa, Brazil</td><td></td></tr>
                            <tr><td>2013</td><td>17th</td><td>Eindhoven, The Netherlands</td><td></td></tr>
                            <tr><td>2012</td><td>16th</td><td>Mexico City, Mexico</td><td></td></tr>
                            <tr><td>2011</td><td>15th</td><td>Istanbul, Turkey</td><td></td></tr>
                            <tr><td>2010</td><td>14th</td><td>Singapore</td><td></td></tr>
                            <tr><td>2009</td><td>13th</td><td>Graz, Austria</td><td></td></tr>
                            <tr><td>2008</td><td>12th</td><td>Nagoya, Japan</td><td>Innovation Award</td></tr>
                            <tr><td>2007</td><td>11th</td><td>Atlanta, USA</td><td>Innovation Award</td></tr>
                        </tbody>
                    </table>

                    <h2 class="section-heading">Achievements</h2>

                    <ul>
                        <li><b>Innovation Award 2007:</b> First Place in the Innovation Award of the @Home League, 11th RoboCup World Championship.</li>
                        <li><b>Innovation Award 2008</b></li>
                    </ul>

                    <a href="#">
                        <img class="img-responsive" src="static/img/bender/gallery/IMGP3616.JPG" alt="">
                    </a>
                    <blockquote>UChile Homebreakers Team, 12th Robocup World Championship, 2008.</blockquote>


                    <hr>

                    <h2 class="section-heading">Team Description Papers</h2>

                    <table class="table">
                        <thead>
                            <th>2007</th>
                            <th>2008</th>
                            <th>2009</th>
                            <th>2010</th>
                            <th>2011</th>
                            <th>2012</th>
                            <th>2013</th>
                            <th>2014</th>
                            <th>2015</th>
                            <th>2016</th>
                            <th>2017</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="fa-stack fa-lg"><i class="fa fa-ban fa-stack-1x"></i></span></td>
                                <td><a href="http://bender.li2.uchile.cl/Files/TDP/UChileHomeBreakers_TDP2008.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>
                                <td><span class="fa-stack fa-lg"><i class="fa fa-ban fa-stack-1x"></i></span></td>
                                <td><a href="http://bender.li2.uchile.cl/Files/TDP/UChileHomeBreakers_TDP2010.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>
                                <td><span class="fa-stack fa-lg"><i class="fa fa-ban fa-stack-1x"></i></span></td>
                                <td><span class="fa-stack fa-lg"><i class="fa fa-ban fa-stack-1x"></i></span></td>
                                <td><a href="http://bender.li2.uchile.cl/Files/TDP/UChileHomeBreakers_TDP2013.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>
                                <td><a href="http://bender.li2.uchile.cl/Files/TDP/UChileHomeBreakers_TDP2014.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>
                                <td><a href="http://bender.li2.uchile.cl/Files/TDP/UChileHomeBreakers_TDP2015.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>
                                <!--<td><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>-->
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
