---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Contact Us - UChile Robotics" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/contact-bg.jpg" title="Contact Us" subtitle="" meta="Willing to give us some help? You are welcomed ;-)" %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Want to get in touch with UChile Robotics or any of our teams?</p>

                <hr>

                <h3 class="post-heading">UChile Homebreakers</h3>

                <p>Contact Us at <span style="font-family: monospace">{ bender.contacto@gmail.com }</span> </p>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline text-center">
                            <!--<li>-->
                                <!--<a href="https://www.facebook.com/ComunidadRoboticaUChile">-->
                                        <!--<span class="fa-stack fa-lg">-->
                                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                                            <!--<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>-->
                                        <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a href="https://www.facebook.com/UChileHomebreakers" target="_blank">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <hr>

                <h3 class="post-heading">UChile Robotics Team</h3>

                <p>You can contact us through <a href="http://uchilert.amtc.cl/?page_id=44">our dedicated contact form</a></p>


                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline text-center">
                            <!--<li>-->
                                <!--<a href="https://www.facebook.com/ComunidadRoboticaUChile">-->
                                        <!--<span class="fa-stack fa-lg">-->
                                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                                            <!--<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>-->
                                        <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a href="https://www.facebook.com/UChileRoboticsTeam" target="_blank">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <hr>

                <h3 class="post-heading">Pepper Team</h3>

                <p>Contact Us at <span style="font-family: monospace">{ bender.contacto@gmail.com }</span> </p>

                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline text-center">
                            <!--<li>-->
                            <!--<a href="https://www.facebook.com/ComunidadRoboticaUChile">-->
                            <!--<span class="fa-stack fa-lg">-->
                            <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                            <!--<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a href="https://www.facebook.com/UChileHomebreakers" target="_blank">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <br>

                <h3 class="post-heading">Our Location</h3>

                <div class="map"><iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zfJ3aIsNZl9I.kY-j03vUbWwk" width="640" height="480"></iframe></div>
                <address class="contacts">
                    <p>
                        Universidad de Chile <br>
                        Facultad de Ciencias Físicas y Matemáticas <br>
                        Departamento de Ingeniería Eléctrica <br>
                        Laboratorio de Robótica <br>
                        Avda. Tupper 2007 <br>
                        <em class="color1">E-mail:</em> <a href="#">bender.contacto@gmail.com</a>
                    </p>
                </address>

            </div>
        </div>

    </div>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
