---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Home - UChile Robotics" %}
<style>
    #home-team-button-bender:hover {
        background-color: orangered;
    }
    #home-team-button-nao:hover {
        background-color: deepskyblue;
    }
    #home-team-button-pepper:hover {
        background-color: limegreen;
    }
</style>

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/header.jpg" title="UChile Robotics" subtitle="Advancing robotics research and developing robots at the Universidad de Chile since 1997" meta="<i class=\"fa fa-child fa-stack-1x fa-inverse\"></i>" %}

    <!-- Main Content -->
    <div class="container">

    	<hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <!--<p>Robots, duh ...</p>-->
                <p>The UChileHomebreakers Robotics Team is currently working on 3 robots: Bender, Pepper and Jaime. All teams work at the Robotics Laboratory of the Electrical Engineering Department of the University
                    of Chile, with the support of the Advance Mining Technology Center (AMTC).</p>
            </div>
            <div class="col-sm-4">
                <h2>Follow Us</h2>
                <div class="row">
	                <div class="col-sm-12">
	                    <ul class="list-inline text-center">
	                        <li>
	                            <a href="https://www.instagram.com/uchile_homebreakers/" target="_blank">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>                                
	                        </li>
	                        <li>
	                            <a href="https://github.com/uchile-robotics" target="_blank">
	                                <span class="fa-stack fa-lg">
	                                    <i class="fa fa-circle fa-stack-2x"></i>
	                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
	                                </span>
	                            </a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align: center; margin-top: 10px; margin-bottom: 20px;">Our Robots</h3>
            </div>
            <div class="col-sm-4">
            	<a href="bender-index.html">
                	<img class="img-circle img-responsive img-center" src="static/img/bender/thumbnail.png" alt="" style="max-height: 300px; max-width: 300px; margin: 0 auto">
                </a>
                <h2>Bender</h2>
                <p>Bender is a humanoid robot designed for human-robot interaction (HRI) in domestic environments. He uses his computer vision, manipulation, and navigation capabilities to help at home by completing a wide array of tasks.</p>
                <p>Bender has been developed by the UChile Homebreakers team since 2007. He usually participates in the RoboCup @Home international robotics competition. He has reached the 5th place amongst 24 teams, and 1st for his design.</p>
                <p>
                    <a id="home-team-button-bender" class="btn btn-default btn-lg" href="bender-index.html">UChile Homebreakers &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
            	<a href="http://uchilert.amtc.cl" target="_blank">
                	<img class="img-circle img-responsive img-center" src="static/img/nao/thumbnail.jpg" alt="" style="max-height: 300px; max-width: 300px; margin: 0 auto">
                </a>
                <h2>NAOs</h2>
                <p>The SPL team has been the fourth best team in the league, three years in a row. It is formed by students pursuing bachelors, masters and doctorate programs in Electrical Engineering and Computer Science.</p>
                <p>The team's research focuses on perception, localization, decision making and multi-robot systems with resources-constrained platforms in highly dynamic environments.</p>
                <p>
                    <a id="home-team-button-nao" class="btn btn-default btn-lg" href="http://uchilert.amtc.cl" target="_blank">UChileRT &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
            	<a href="pepper-index.html">
                	<img class="img-circle img-responsive img-center" src="static/img/pepper/thumbnail.jpg" alt="" style="max-height: 300px; max-width: 300px; margin: 0 auto">
                </a>
                <h2>Pepper</h2>
                <p>Pepper is the latest robot to join our family. The team focuses on human-robot interaction (HRI) for domestic environments.</p>
                <p>The team is currently focused on making advancements for the upcoming RoboCup competition.</p>
                <p>
                    <a id="home-team-button-pepper" class="btn btn-default btn-lg" href="pepper-index.html">UChile Peppers &raquo;</a>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <hr>


    <!-- Sponsors -->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3>Sponsors</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
                <a href="http://www.amtc.cl/" target="_blank">
                    <img class="img-rounded img-responsive img-center" src="static/img/sponsors-amtc.png" alt="" style="max-height: 150px;">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="http://ingenieria.uchile.cl/" target="_blank">
                    <img class="img-rounded img-responsive img-center" src="static/img/sponsors-fcfm.png" alt="" style="max-height: 150px;">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="http://www.uchile.cl/" target="_blank">
                    <img class="img-rounded img-responsive img-center" src="static/img/sponsors-uchile.png" alt="" style="max-height: 150px;">
                </a>
            </div>
        </div>
    </div>
    
    

    <hr>


    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
