---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Home - UChile Robotics" %}
<style>
    #home-team-button-bender:hover {
        background-color: orangered;
    }
    #home-team-button-nao:hover {
        background-color: deepskyblue;
    }
    #home-team-button-pepper:hover {
        background-color: limegreen;
    }
</style>

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/index-bg.jpg" title="UChile Robotics" subtitle="Making great robots for science at University of Chile since 1997" meta="<i class=\"fa fa-child fa-stack-1x fa-inverse\"></i>" %}

    <!-- Main Content -->
    <div class="container">

    	<hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <!--<p>Robots, duh ...</p>-->
                <p>UChile Robotics is currently formed by 3 teams, UChile Homebreakers, Pepper Team and UChile Robotics
                    SPL Team. All teams work at the Robotics Laboratory of the Electrical Department of the University
                    of Chile.</p>
            </div>
            <div class="col-sm-4">
                <h2>Follow Us</h2>
                <div class="row">
	                <div class="col-sm-12">
	                    <ul class="list-inline text-center">
	                        <li>
	                            <a href="https://www.facebook.com/ComunidadRoboticaUChile" target="_blank">
	                                <span class="fa-stack fa-lg">
	                                    <i class="fa fa-circle fa-stack-2x"></i>
	                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	                                </span>
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://github.com/uchile-robotics" target="_blank">
	                                <span class="fa-stack fa-lg">
	                                    <i class="fa fa-circle fa-stack-2x"></i>
	                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
	                                </span>
	                            </a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align: center; margin-top: 10px; margin-bottom: 20px;">Our Robots</h3>
            </div>
            <div class="col-sm-4">
            	<a href="bender-index.html">
                	<img class="img-circle img-responsive img-center" src="static/img/bender/thumbnail.png" alt="" style="max-height: 300px; max-width: 300px; margin: 0 auto">
                </a>
                <h2>Bender</h2>
                <p>Bender is a humanoid robot designed for human-robot interaction at home-like environments. He uses his computer vision, manipulation and navigation capabilities to help at home and solve a wide set of tasks.</p>
                <p>It is developed by the UChile Homebreakers Team since 2007. He usually participates in the international robotics competition Robocup. He has reach the 5th place among 24 teams.</p>
                <p>
                    <a id="home-team-button-bender" class="btn btn-default btn-lg" href="bender-index.html">UChile Homebreakers &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
            	<a href="http://uchilert.amtc.cl" target="_blank">
                	<img class="img-circle img-responsive img-center" src="static/img/nao/thumbnail.jpg" alt="" style="max-height: 300px; max-width: 300px; margin: 0 auto">
                </a>
                <h2>Nao Team</h2>
                <p>The SPL team has been the fourth best team in the league by three years in a row. It is formed by about 15 people pursuing bachelor, masters and doctorate programs in electrical engineering and computer science.</p>
                <p>Research developed by the team is related to perception, localization, decision making and multi-robot systems with resources-constrained platforms in highly dynamic environments.</p>
                <p>
                    <a id="home-team-button-nao" class="btn btn-default btn-lg" href="http://uchilert.amtc.cl" target="_blank">UChile Robotics Team &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
            	<a href="pepper-index.html">
                	<img class="img-circle img-responsive img-center" src="static/img/pepper/thumbnail.jpg" alt="" style="max-height: 300px; max-width: 300px; margin: 0 auto">
                </a>
                <h2>Pepper</h2>
                <p>Pepper is the last robot to join our family. The team focuses on human-robot interaction for home environments.</p>
                <p>The team is currently working hard on him for the upcoming Robocup competition.</p>
                <p>
                    <a id="home-team-button-pepper" class="btn btn-default btn-lg" href="pepper-index.html">Pepper Team &raquo;</a>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <hr>


    <!-- Sponsors -->
    <div class="row">
        <div class="col-sm-12">
            <h3 style="text-align: center">Sponsors</h3>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="http://www.amtc.cl/" target="_blank">
                <img class="img-rounded img-responsive img-center" src="static/img/sponsors-amtc.png" alt="" style="max-height: 150px; margin: 0 auto;">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="http://ingenieria.uchile.cl/" target="_blank">
                <img class="img-rounded img-responsive img-center" src="static/img/sponsors-fcfm.png" alt="" style="max-height: 150px; margin: 0 auto;">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="http://www.uchile.cl/" target="_blank">
                <img class="img-rounded img-responsive img-center" src="static/img/sponsors-uchile.png" alt="" style="max-height: 150px; margin: 0 auto;">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="http://www.explora.cl/" target="_blank">
                <img class="img-rounded img-responsive img-center" src="static/img/sponsors-NIChile.jpg" alt="" style="max-height: 110px; margin: 30 0 auto;">
            </a>
        </div>
    </div>

    <hr>


    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
