---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Pepper - UChile Peppers" %}


<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/index-bg.png" title="UChile Peppers Team" subtitle="" meta="Pepper Robot" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                    <h2 class="section-heading">About</h2>

                    <p> Pepper is a humanoid robot developed by SoftBank Robotics focused on human-robot interaction (HRI).  The RoboCup @home committee chose Pepper as the platform
                        for the @Home Social Standard Platform League.</p>

                    <p> Pepper's abilities include the identification of emotions in humans, based on the tone of voice and facial gestures, speech recognition and synthesis, and sound localization.  Additionally, Pepper has all the hardware needed to implement computer vision, navigation through dynamic environments, and manipulation of objects.  With this range of skills Pepper can be a great assistant in indoor environments.</p>

                    <p> The UChile Peppers team is working on improving all of those skills in the robot Pepper for the 2020 RoboCup in Bordeaux.</p>


                    <h2 class="section-heading">The Robot</h2>

                    <a href="#">
                        <img class="img-responsive" src="static/img/pepper/pepper.png" alt="" style="margin: 0 auto;">
                    </a>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
