    ---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Peppers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/team-bg.png" title="UChile Peppers Team" subtitle="" meta="About Us" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">The Team</h2>

                    <p>UChile Peppers is the new robotics team of the University of Chile.  It was formed to compete in the Standard Platform League of Robocup@Home with the robot Pepper.  The team is currently working in implementing the high level behaviors necessaries to make Pepper a good service robot.</p>


                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="http://bender.li2.uchile.cl/images/team/javier_ruiz_del_solar.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Javier Ruiz del Solar</h2>
                                    <p>E.E. MSc. PhD <br>
                                        Professor of Electrical Engineering  <br>
                                        Executive Director of AMTC  </p>
                                    asd
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Javier_RdS.pdf" target="_blank" class="btn">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Javier Ruiz del Solar <br> Team Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/mpavez.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Matias Pavez</h2>
                                    <p> E.E. & C.Sc Student<br>
                                        Autonomous Navigation <br>
                                        Sysadmin </p>
                                    <a href="https://www.linkedin.com/in/mpavez" class="btn" target="_blank">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Matias Pavez <br>Team Captain</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/diego2.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Diego Baño</h2>
                                    <p> C.S. Student<br>
                                           </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Diego Baño <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/cgomez.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Cristopher Gomez</h2>
                                    <p> M.E. Student<br>
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Cristopher Gomez <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/DavidGomez.jpg" alt=""/>
                                <div class="mask">
                                    <h2>David Gomez</h2>
                                    <p> E.E. Student
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> David Gomez <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/Lukas_Pavez.png" alt=""/>
                                <div class="mask">
                                    <h2>Lukas Pavez</h2>
                                    <p> C.S Student </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Lukas Pavez<br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/JoseAstorga.png" alt=""/>
                                <div class="mask">
                                    <h2>José Astorga</h2>
                                    <p>  E. Student </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> José Astorga <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/plocomilla.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Patricio Loncomilla</h2>
                                    <p>  E.E. MSc. Ph.D. <br> <br>
                                        Advisor </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Basal_PatricioLoncomilla.v2.pdf" class="btn" target="_blank">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Patricio Loncomilla<br>Advisor</blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>