---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Gallery - UChile Peppers" %}

<link rel="stylesheet" href="vendor/Gallery-master/css/blueimp-gallery.min.css">

<style>
#links a img {
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 150px;
}
</style>

<body>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>


    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/team-bg.png" title="Gallery" subtitle="" meta="UChile Peppers Team" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h2>Robocup @HOME SSPL</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <iframe width="460" height="264" src="https://www.youtube.com/embed/Xj5T6HZuxR0" frameborder="0" allowfullscreen></iframe>
                            <blockquote>Qualification Video Robocup 2017</blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

    <script src="vendor/Gallery-master/js/blueimp-gallery.min.js"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
</body>
</html>
