---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Peppers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/team-bg.png" title="UChile Peppers Team" subtitle="" meta="About Us" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">The Team</h2>

                    <!--<p>UChile Homebreakers was founded on 2006 and we have been working on Bender since then. We focused our work on human robot interaction, computer vision, autonomous navigation and manipulation skills for Bender.</p>-->

                    <!--<p>Our team is composed by nearly 15 people pursuing bachelor, masters and doctorate programs in computer science, electrical engineering and mechanical engineering.</p>-->

                    <!--<p>As a team, we have made efforts to spread the robotics among chilean children at schools and by guiding new engineering students who are interested in the field.</p>-->

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
