---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Robocup - UChile Peppers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/robocup-bg.png" title="UChile Peppers Team" subtitle="" meta="Robocup" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2 class="section-heading">Participation</h2>

                    <p>The UChile Peppers Team is working hard towards the upcoming Robocup competition in Montréal, Canada on July, 2018. The team plans to build from its experience during the inagural SSPL, make significant advancements with Pepper.</p>

                    <table class="table">
                        <thead>
                            <th>Year</th>
                            <th>Robocup</th>
                            <th>Location</th>
                            <th>Observations</th>
                        </thead>
                        <tbody>
                            <tr><td>2018</td><td>22nd</td><td>Montréal, Canada</td><td>Intention of Participation</td></tr>
                            <tr><td>2017</td><td>21st</td><td>Nagoya, Japan</td><td>First @Home SSPL. 5th place between 7 teams</td></tr>
                        </tbody>
                    </table>

                    <hr>

                    <h2 class="section-heading">Team Description Papers</h2>

                    <table class="table">
                        <thead>
                            <th>2017</th>
                            <th>2018</th>
                            <th>2019</th>
                            <th>2020</th>
                        </thead>
                        <tbody>
                            <tr>

                                <!-- 2017 -->
                                <td><a target="_blank" href="static/pdf/pepper_robocup/TDPMaqui2017.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>

                                <!-- 2018 -->
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>

                                <!-- 2019 -->
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>

                                <!-- 2020 -->
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>

                            </tr>
                        </tbody>
                    </table>

                    <h2 class="section-heading">Posters</h2>

                    <table class="table">
                        <thead>
                            <th>2017</th>
                            <th>2018</th>
                            <th>2019</th>
                            <th>2020</th>
                        </thead>
                        <tbody>
                            <tr>

                                <!-- 2017 -->
                                <td><a target="_blank" href="static/pdf/pepper_robocup/PosterMaqui2017.pdf"><span class="fa-stack fa-lg"><i class="fa fa-file-pdf-o fa-stack-1x"></i></span></a></td>

                                <!-- 2018 -->
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>

                                <!-- 2019 -->
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>

                                <!-- 2020 -->
                                <td><span class="fa-stack fa-lg"><i class="fa fa-minus fa-stack-1x"></i></span></td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
