---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="News - UChile Peppers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/news-bg.png" title="Pepper Robot" subtitle="" meta="UChile Peppers News" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>

</html>
