---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Gallery - UChile Peppers" %}

<link rel="stylesheet" href="vendor/Gallery-master/css/blueimp-gallery.min.css">

<style>
#links a img {
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 150px;
    cursor: zoom-in;
}
#pepper_images a img {
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 150px;
    cursor: zoom-in;
}
</style>

<body>

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>


    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/team-bg.png" title="UChile Peppers Team" subtitle="" meta="Gallery" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h2>Robocup @HOME SSPL</h2>
                    

                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <iframe width="460" height="264" src="https://www.youtube.com/embed/QE8rRWZpuKE" frameborder="0" allowfullscreen></iframe>
                            <blockquote>Qualification Video Robocup 2019</blockquote>
                        </div>
                        

                        <div class="col-sm-12 col-md-6">
                            <iframe width="460" height="264" src="https://www.youtube.com/embed/GytgZ0JvQZI" frameborder="0" allowfullscreen></iframe>
                            <blockquote>Qualification Video Robocup 2018</blockquote>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                            <iframe width="460" height="264" src="https://www.youtube.com/embed/Xj5T6HZuxR0" frameborder="0" allowfullscreen></iframe>
                            <blockquote>Qualification Video Robocup 2017</blockquote>
                        </div>
                    </div>
                    <h2>Robocup 2017 Photos</h2>
                    <div id="links">
                        <a class="class-FE" href="static/img/RoboCup2017/peppers.JPG" title="Peppers waiting in line">
                            <img src="static/img/RoboCup2017/peppers.JPG" alt="Peppers Waiting in Line">
                        </a>
                        <a class="class-FE" href="static/img/RoboCup2017/pepper_familia.JPG" title="Peppers">
                            <img src="static/img/RoboCup2017/pepper_familia.JPG" alt="Peppers">
                        </a>

                        <a class="class-FE" href="static/img/RoboCup2017/pepper_grupal.JPG" title="Robot Pictures">
                            <img src="static/img/RoboCup2017/pepper_grupal.JPG" alt="Robot Pictures">
                        </a>
 
                        <a class="class-FE" href="static/img/RoboCup2017/pepper_mira_camara.JPG" title="Pepper Looking at Camera">
                            <img src="static/img/RoboCup2017/pepper_mira_camara.JPG" alt="Pepper Looking at Camera">
                        </a>

                        <a class="class-FE" href="static/img/RoboCup2017/pepper_panuelo.JPG" title="Maqui">
                            <img src="static/img/RoboCup2017/pepper_panuelo.JPG" alt="Maqui">
                        </a>

                        <a class="class-FE" href="static/img/RoboCup2017/pepper_poster.JPG" title="UChile Peppers Poster">
                            <img src="static/img/RoboCup2017/pepper_poster.JPG" alt="UChile Peppers Poster">
                        </a>
  
                        <a class="class-FE" href="static/img/RoboCup2017/pepper_spr.JPG" title="SPR Test">
                            <img src="static/img/RoboCup2017/pepper_spr.JPG" alt="SPR Test">
                        </a>
                    </div>
                    <h2>Outreach</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <iframe width="460" height="264" src="https://www.youtube.com/embed/GRhnQLH3OQE" frameborder="0" allowfullscreen></iframe>
                            <blockquote>Maqui in Science Fair I</blockquote>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <iframe width="460" height="264" src="https://www.youtube.com/embed/yWDZFw6tyKw" frameborder="0" allowfullscreen></iframe>
                            <blockquote>Maqui in Science Fair II</blockquote>
                        </div>
                    </div> 
                    <div id="pepper_images">
                        <a class="class-FE" href="static/img/pepper_outreach/amazing_pepper.JPG" title="Amazing Pepper">
                            <img src="static/img/pepper_outreach/amazing_pepper.JPG" alt="Amazing Pepper">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/hackerman.JPG" title="Hackerman">
                            <img src="static/img/pepper_outreach/hackerman.JPG" alt="Hackerman">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_children_ii.JPG" title="Maqui With Children">
                            <img src="static/img/pepper_outreach/pepper_children_ii.JPG" alt="Maqui With Children">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_family.JPG" title="Maqui With People">
                            <img src="static/img/pepper_outreach/pepper_family.JPG" alt="Maqui With People">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_much.JPG" title="Pictures">
                            <img src="static/img/pepper_outreach/pepper_much.JPG" alt="Pictures">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_nico.JPG" title="Nicolas With Maqui">
                            <img src="static/img/pepper_outreach/pepper_nico.JPG" alt="Nicolas With Maqui">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_nino.JPG" title="Maqui's Fan">
                            <img src="static/img/pepper_outreach/pepper_nino.JPG" alt="Maqui's Fan">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_picture.JPG" title="Maqui Takes a Picture">
                            <img src="static/img/pepper_outreach/pepper_picture.JPG" alt="Maqui Takes a Picture">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_pinguin.JPG" title="Pinguin">
                            <img src="static/img/pepper_outreach/pepper_pinguin.JPG" alt="Pinguin">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/pepper_plano.JPG" title="Maqui">
                            <img src="static/img/pepper_outreach/pepper_plano.JPG" alt="Maqui">
                        </a>
                        <a class="class-FE" href="static/img/pepper_outreach/press_pepper.JPG" title="Press">
                            <img src="static/img/pepper_outreach/press_pepper.JPG" alt="Press">
                        </a>
                    </div>                   
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

    <script src="vendor/Gallery-master/js/blueimp-gallery.min.js"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
        document.getElementById('pepper_images').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
</body>
</html>
