---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Robocup - UChile Peppers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/robocup-bg.png" title="UChile Peppers Team" subtitle="" meta="Robocup" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2 class="section-heading">Participation</h2>

                    <p>The UChile Peppers Team is working hard towards the upcoming Robocup competition in Bordeaux, France on July, 2020. The team plans to build from its experience during the inagural SSPL, make significant advancements with Pepper.</p>

                    <table class="table">
                        <thead>
                            <th>Year</th>
                            <th>Robocup</th>
                            <th>Location</th>
                            <th>Observations</th>
                        </thead>
                        <tbody>
                            <tr><td>2024</td><td>27th</td><td>Eindhoven, Netherlands</td><td> No Participation </td></tr>
                            <tr><td>2023</td><td>26th</td><td>Bordeaux, France</td><td> No Participation </td></tr>
                            <tr><td>2022</td><td>25th</td><td>Bangkok, Thailand</td><td> No Participation </td></tr>
                        	<tr><td>2021</td><td>24th</td><td>Remote Event</td><td>1st place among 4 teams</td></tr>
                            <tr><td>2019</td><td>23rd</td><td>Sydney, Australia</td><td>2nd place among 9 teams</td></tr>
                            <tr><td>2018</td><td>22nd</td><td>Montréal, Canada</td><td>3rd place among 9 teams</td></tr>
                            <tr><td>2017</td><td>21st</td><td>Nagoya, Japan</td><td>First @Home SSPL. 5th place among 7 teams</td></tr>
                        </tbody>
                    </table>

                    <hr>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
