---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Peppers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/team-bg.png" title="UChile Peppers Team" subtitle="" meta="About Us" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">The Team</h2>

                    <p>UChile Peppers is the newest robotics team of the Universidad de Chile.  It was formed to compete in the Social Standard Platform League of RoboCup @Home with the robot Pepper.  The team is currently working on developing the high level behaviors necessary to make Pepper a robust service robot.</p>


                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/jrds.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Javier Ruiz del Solar</h2>
                                    <p><b>Team Supervisor</b><br>
                                        E.E. MSc. PhD <br>
                                        E.E Teacher <br>
                                        Executive Director of AMTC  </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Javier_RdS.pdf" target="_blank" class="btn">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Javier Ruiz del Solar <br> Team Supervisor</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/cgomez.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Cristopher Gomez</h2>
                                    <p><b>Team Leader</b><br>
                                    	M.E. Student<br>
                                    	Speech Recognition<br>
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Cristopher Gomez <br>Team Leader</blockquote>
                        </div>

                        

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/lpavez2.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Lukas Pavez</h2>
                                    <p> C.S. Student </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Lukas Pavez<br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/nmarticorena.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Nicolás Marticorena</h2>
                                    <p> E.E. Student
                                    </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Nicolás Marticorena <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/rsalas.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Rodrigo Salas</h2>
                                    <p> E.E. Student </p>
                                    <!--<a href="" class="btn">Curriculum</a>-->
                                </div>
                            </div>
                            <blockquote> Rodrigo Salas <br>Team Member</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/cramirez.jpg" alt=""/>
                                <div class="mask">
                                    <h2>  Camilo Ramirez </h2>
                                    <p> E.E. Student </p>
                                </div>
                            </div>
                            <blockquote> Camilo Ramirez <br> Team Member </blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/bender/people/plocomilla.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Patricio Loncomilla</h2>
                                    <p>  E.E. MSc. Ph.D. <br> <br>
                                        Advisor </p>
                                    <a href="http://bender.li2.uchile.cl/Files/CV/CV_Basal_PatricioLoncomilla.v2.pdf" class="btn" target="_blank">Curriculum</a>
                                </div>
                            </div>
                            <blockquote> Patricio Loncomilla<br>Advisor</blockquote>
                        </div>
                        
                    </div>

                    <br>
                    <hr>
                    <br>
                    <h2 class="section-heading">Former Members</h2>
                    <br>
                    <br>
                          
                        <!-- PAST MEMBERS -->
                        {% include old_member.html name="Enmanuel Almonte" image="static/img/bender/people/ealmonte.jpg" info="Visiting Researcher <br>
                                        Fulbright Scholar." %}
                        {% include old_member.html name="Diego Baño" image="static/img/bender/people/dbaño.jpg" info="." %}
                        {% include old_member.html name="José Astorga" image="static/img/bender/people/jastorga.png" info="." %}
                    
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
