---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Code - UChile Peppers" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pepper/devel-bg.png" title="Development and Contribution" subtitle="" meta="UChile Peppers" %}

    <!-- Sub Nav Bar -->
    {% include pepper-navbar.html %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <!--<p>Bender is developed under Ubuntu 14.04LTS using the ROS indigo framework. Manipulation and-->
                        <!--Navigation capabilities are built on top of standard libraries such as MoveIt and the Navigation-->
                        <!--stack. Speech Recognition is performed using Pocketphinx. Computer Vision is built on top of PCL-->
                        <!--and OpenCV and we run our simulations under Gazebo and Stage.-->
                    <!--</p>-->

                    <p>Our code is mostly hosted on bitbucket as private repositories, however we are migrating to <a
                            href="https://github.com/orgs/uchile-robotics">github public repositories</a>.</p>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
