---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="Publications - UChile Robotics" %}

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/pulications-bg.jpg" title="Research" subtitle="" meta="" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h2 class="title">International Publications</h2>
                    <br>


                    <h4>2019</h4>
                    <ul>
                        <li> [102] Martínez, L., Ruiz-del-Solar, J., Sun, L., Siebert, J.P., Aragon-Camarasa, G. Continuous Perception for Deformable Objects Understanding. </li>

                        <li> [101] Pairo, W., Loncomilla, P., and Ruiz-del-Solar, J. A Delay-Free and Robust Object Tracking Approach for Robotics Applications.</li>

                        <li> [100]  Leiva, F., Lobos-Tsunekawa, K., Ruiz-del-Solar, J. Collision Avoidance for Indoor Service Robots through Multimodal Deep Reinforcement Learning. </li>

                        <li> [99]  Loncomilla, P., Ruiz-del-Solar, J. YoloSPoC: Recognition of multiple object instances by using yolo-based proposals and deep SPoC-based descriptors. </li> 
                    </ul>

                    <h4>2018</h4>
                    <ul>
                        <li> [98] Cristopher Gómez, Matías Mattamala, Tim Resink and Javier Ruiz-Del-Solar. Visual SLAM-based Localization and Navigation for Service Robots: The Pepper Case. 

                        <li> [97] Esteban Reyes, Cristopher Gómez, Esteban Norambuena and Javier Ruiz-Del-Solar. Near Real-Time Object Recognition for Pepper based on Deep Neural Networks Running on a Backpack. </li>
                        
                        <li> [96] Francisco Leiva, Nicolás Cruz, Ignacio Bugueño and Javier Ruiz-Del-Solar. Playing Soccer without Colors in the SPL: A Convolutional Neural Network Approach.</li>

                        <li> [95] Matías Pavez, Javier Ruiz-Del-Solar, Victoria Amo and Felix Meyer Zu Driehausen. Towards Long-Term Memory for Social Robots: Proposing a New Challenge for the RoboCup@Home League. </li>
                    </ul>



                    <h4>2017</h4>
                    <ul>
                        <li> [94] Tapia, C., Daud, O., Ruiz-del-Solar, J., (2017). EMG Signal filtering based on Independent Component Analysis and Empirical Mode Decomposition for the Estimation of Motor Activation Patterns, Journal of Medical and Biological Engineering, 37(1), 140-155 (DOI 10.1007/s40846-016-0201-5).</li>

                        <li> [93] Hermosilla, G., Ruiz-del-Solar, J., Verschae, R. (2017). An enhanced representation of thermal faces for improving local appearance-based face recognition, Intelligent Automation & Soft Computing, Vol. 23, Issue 1, pp. 1-12, 2017. (DOI:10.1080/10798587.2015.1110288)</li>
                    </ul>

                    <h4>2016</h4>
                    <ul>
                        <li> [92] Leottau-Forero, L., Vatsyayan, A., Ruiz-del-Solar, J., Babuska, R. (2016). A Study of Decentralized Reinforcement Learning Applied to Mobile Robots. RoboCup Symposium 2016 (in press).</li>
                        
                        <li> [91] Cano, P., Ruiz-del-Solar, J. (2016). Robust Tracking of Multiple Soccer Robots using Random Finite Sets. RoboCup Symposium 2016 (in press).</li>
                        
                        <li> [90] Celemin, C., Ruiz-del-Solar J. (2016). Extending COACH to Address Challenging Learning Problems, 2016 IEEE LA-CCI (Latin American Conference on Computational Intelligence), Nov. 2-4 2016, Cartagena, Colombia.</li>

                        <li> [89] Celemin, C., Ruiz-del-Solar J. (2016). Interactive Learning using COACH: Towards Machine Learners that outperform Human Teachers, 25th IEEE Int. Symposium on Robot and Human Interactive Communication - RO-MAN 2016, August 26 – 31, 2016, New York, USA.</li>

                        <li> [88] Hermosilla, G., Ruiz-del-Solar, J., Verschae, R. (2016). An enhanced representation of thermal faces for improving local appearance-based face recognition, Intelligent Automation & Soft Computing, (DOI:10.1080/10798587.2015.1110288; Published online: 14 Dec 2015).<a href="http://www.tandfonline.com/doi/abs/10.1080/10798587.2015.1110288?journalCode=tasj20">[pdf]</a></li>

                        <li> [87] Delpiano, J., Pizarro, L., Verschae, R., Ruiz-del-Solar, J., (2016). Multi-objective optimization for parameter selection and characterization of optical flow methods, Applied Soft Computing, Vol. 46, Sept. 2016, pp. 1067-1078. ((doi:10.1016/j.asoc.2016.01.037).<a href="http://www.sciencedirect.com/science/article/pii/S1568494616300254">[pdf]</a></li>

                        <li> [86] Loncomilla, P., Ruiz-del-Solar, J. and Martínez, L., Object Recognition using Local Invariant Features for Robotic Applications: A Survey, Pattern Recognition, Vol. 60, Dec. 2016, pp. 499-514 (doi: 10.1016/j.patcog.2016.05.021).<a href="http://fulltext.study/preview/pdf/531838.pdf">[pdf]</a></li>

                        <li> [85] Correa, M., Ruiz-del-Solar, J., Verschae, R. (2016). A Realistic Virtual Environment for Evaluating Face Analysis Systems under Dynamic Conditions, Pattern Recognition, Vol. 52, April 2016, pp. 160-173. (ISI).<a href="http://www.sciencedirect.com/science/article/pii/S0031320315004288">[pdf]</a></li>
                    </ul>
                    <br>

                    <h4>2015</h4>
                    <ul>
                        <li> [84] Verschae, R., Ruiz-del-Solar, J. (2015). Object Detection: Current and Future Directions, Frontiers in Robotics and AI, Article 29, Vol. 2, Nov. 2015.<a href="https://www.researchgate.net/publication/284167004_Object_Detection_Current_and_Future_Directions">[pdf]</a></li>

                        <li> [83] Iocchi, L., Holz, D., Ruiz-del-Solar, J., Sugiura, K., van der Zant, T., (2015). RoboCup@Home: Analysis and Results of Evolving Competitions for Domestic and Service Robots, Artificial Intelligence, Vol. 229, Dec. 2015, pp. 258–281. (ISI).<a href="http://www.sciencedirect.com/science/article/pii/S0004370215001174">[pdf]</a></li>

                        <li> [82] Ruiz-del-Solar, J., and Weitzenfeled, A. (2015), Special Issue on Advanced Robotics, Journal of Intelligent and Robotic Systems, Vol. 77, No. 1, pp. 3–4.<a href="http://bender.li2.uchile.cl/Files/PAPER/SIAR2015.pdf">[pdf]</a></li>

                        <li> [81] Sanchez, M.L., Correa, M., Martínez, L., Ruiz-del-Solar, J. (2015). An Episodic Long-Term Memory for Robots: The Bender Case. RoboCup Symposium 2015, 23 July 2015, Hefei, China (CD Proceedings).<a href="http://robocup.oss-cn-beijing.aliyuncs.com/symposium%2FRoboCup_Symposium_2015_submission_29.pdf">[pdf]</a></li>

                        <li> [80] Wachsmuth, S., Holz, D., Rudinac, M., Ruiz-del-Solar, J. (2015). RoboCup@Home – Benchmarking Domestic Service Robots, AAAI, January 25-26, Austin, TX, USA.<a href="http://www.ais.uni-bonn.de/~holz/papers/wachsmuth_2015_aaai.pdf">[pdf]</a></li>

                    </ul>


                    <br>

                    <h4>2014</h4>
                    <ul>

                        <li> [79] Iocchi, L., Ruiz-del-Solar, J., and van der Zant, T. (2014). Advances in Domestic Service Robots in the Real World, Journal of Intelligent and Robotic Systems, Vol. 76, No. 1, pp. 3-4, Oct. 2014. .<a href="https://sapienza.pure.elsevier.com/it/publications/advances-in-domestic-service-robots-in-the-real-world-2">[pdf]</a></li>

                        <li> [78] Loncomilla, P., Tapia, C., Daud, O., Ruiz-del-Solar, J. (2014). A Novel Methodology for Assessing the Fall Risk using Low-Cost and Off-the-Shelf Devices, IEEE Trans. on Human-Machine Systems, Vol. 44, No. 3, pp. 406-415, June 2014. (ISI).<a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6776554">[pdf]</a></li>

                        <li> [77] Salah, A.A., Oudeyer, P.-Y., Meriçli, Ç., Ruiz-del Solar, J. (2014). Guest Editorial: Behavior Understanding and Developmental Robotics, IEEE Trans. on Autonomous Mental Development, Vol. 6, No. 77-78, pp. 1-2, June 2014. .<a href="https://flowers.inria.fr/SalahetalTAMD2014.pdf">[pdf]</a></li>

                        <li> [76] Holz, D., Ruiz-del-Solar, J., Sugiura, K. and Wachsmuth, S. (2014). On Robocup@hHome – Past, present and future of a scientific competition for service robots. Lecture Notes in Computer Science 8992 (RoboCup Symposium 2014), pp. 686-697..<a href="http://www.ais.uni-bonn.de/~holz/papers/holz_2014_robocup.pdf">[pdf]</a></li>

                        <li> [75] Holz, D., Iocchi, L., Ruiz-del-Solar, J., Sugiura, K., van der Zant, T. (2014). RoboCup@Home - a competition as a testbed for domestic service robot, 1st International Workshop on Intelligent Robot Assistants, 15th July, 2014, Padova, Italy.<a href="http://bender.li2.uchile.cl/Files/PAPER/IRA2014.pdf">[pdf]</a></li>

                        <li> [74] Delpiano, J., Verschae, R., Ruiz-del-Solar, J., Pizzaro, L. (2014). Multi-Objective Optimization for Characterization of Optical Flow Methods, VISAPP 2014, 5-8 January, Lisbon, Portugal.
                    <a href="http://vision.die.uchile.cl/~rverscha/files/Multi-objective_Optimization_for_Characterization_of_Optical_Flow_Methods.pdf">[pdf]</a></li>

                        <li> [73] Luz Martínez, Patricio Loncomilla and Javier Ruiz-Del-Solar, "Object recognition for manipulation tasks in real domestic settings: A comparative study", In Proceedings of 18th RoboCup International Symposium, Lecture Notes in Computer Science. Joao Pessoa, Brazil: Springer, 2014.<a href="http://bender.li2.uchile.cl/Files/PAPER/robocupsymposium2014_submission_61.pdf">[pdf]</a></li>

                        <li> [72]  Leonardo Leottau, Carlos Celemin and Javier Ruiz-Del-Solar, "Ball Dribbling for Humanoid Biped Robots: A Reinforcement Learning and Fuzzy Control approach", In Proceedings of 18th RoboCup International Symposium, Lecture Notes in Computer Science. Joao Pessoa, Brazil: Springer, 2014.<a href="http://bender.li2.uchile.cl/Files/PAPER/robocupsymposium2014_submission_58-libre.pdf">[pdf]</a></li>


                        <li> [71] Javier Ruiz-del-Solar, Rodrigo Verschae, Gabriel Hermosilla, Mauricio Correa, <a href="http://vision.die.uchile.cl/~rverscha/files/272905_1_En_10_Chapter_OnlinePDF.pdf"> "Thermal Face Recognition in Unconstrained Environments Using Histograms of LBP Features"</a>, Chapter in Local Binary Patterns: New Variants and Applications, Springer Berlin Heidelberg, pp. 219-243, 2014. <a href="http://vision.die.uchile.cl/~rverscha/files/272905_1_En_10_Chapter_OnlinePDF.pdf">[pdf]</a> </li>
                    </ul>


                    <br>

                    <h4>2013</h4>
                    <ul>
                        <li> [70] Wilma Pairo, Javier Ruiz-del-Solar, Rodrigo Verschae, Mauricio Correa, Patricio Loncomilla,"Person following by mobile robots: analysis of visual and range tracking methods and technologies", In Proceedings of 17th RoboCup International Symposium, Lecture Notes in Computer Science. Eindhoven, Netherlands: Springer, 2013.<a href="http://vision.die.uchile.cl/~rverscha/bibtexbrowser.php?key=pairo2013person&bib=mybib2-clean.bib">[bib]</a></li>
                    </ul>

                    <br>

                    <h4>2012</h4>
                    <ul>
                        <li> [69] Rodrigo Verschae, Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/files/ISVC2012_Verschae.pdf">&quot;TCAS: A multiclass object    detector for robot and computer vision applications&quot;</a>, <em>In International Symposium on Visual Computing (ISVC)</em>, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2012isvc&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/ISVC2012_Verschae.pdf">[pdf]</a></li>

                        <li> [68] Rodrigo Verschae, Mario Koeppen, Masato Tsuru, &quot;A Benchmark for    Evaluating Approximated Algorithms for Fair Wireless Channel    Allocation&quot;, <em>In INCoS (to appear)</em>, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2012incos&bib=all.bib">[bib]</a></li>

                        <li> [67] Rodrigo Verschae, Mario Koeppen, Masato Tsuru, &quot;MASP - A    Multi-Attribute Secretary Problem Approach to Multi-Objective Optimization    with Fair Decision Maker&quot;, <em>In ICGEC (to appear)</em>, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2012icgec&bib=all.bib">[bib]</a></li>

                        <li> [66] Mario Koeppen, Rodrigo Verschae, Masato Tsuru, &quot;A Relational    Approach to Collaborative Fairness&quot;, <em>In INCoS (to appear)</em>, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=koeppen2012incos&bib=all.bib">[bib]</a></li>

                        <li> [65] J. Delpiano, J. Jara, J. Scheer, O.A. Ram\'\irez, J. Ruiz-del-Solar,    S. H&auml;rtel, <a href="http://vision.die.uchile.cl/filesJose/bioof-preprint.pdf">&quot;Performance of optical flow    techniques for motion analysis of fluorescent point signals in confocal    microscopy&quot;</a>, <em>In Machine Vision    and Applications</em>, Springer Berlin/Heidelberg, vol. 23, no. 4, pp.    675-689, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=delpiano2012performance&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJose/bioof-preprint.pdf">[pdf]</a></li>

                        <li> [64] Mauricio Correa, Gabriel Hermosilla, Rodrigo Verschae, Javier    Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/files/JIRS_Correa.pdf">&quot;Human Detection and Identification by    Robot using Thermal and Visual Information in Domestic Environments&quot;</a>, <em>In Journal of Intelligent and Robotic Systems</em>, Kluwer    Academic Publishers, vol. 66, no. 1-2, Hingham, MA, USA, pp. 223-243, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=correa2011&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/JIRS_Correa.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1007/s10846-011-9612-2">[doi]</a></li>

                        <li> [63] Gabriel Hermosilla, Javier Ruiz-del-Solar, Rodrigo Verschae, Mauricio    Correa, <a href="http://www.sciencedirect.com/science/article/pii/S0031320312000179">&quot;A comparative study of    thermal face recognition methods in unconstrained environments&quot;</a>, <em>In Pattern Recognition</em>, vol. , no. 0, pp. -, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=Hermosilla2012&bib=all.bib">[bib]</a> <a href="http://www.sciencedirect.com/science/article/pii/S0031320312000179">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.patcog.2012.01.001">[doi]</a></li>

                        <li> [62] Patricio Loncomilla, Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/rigid-3d.pdf">&quot;Visual SLAM Based on Rigid-Body 3D    Landmarks&quot;</a>, <em>In Journal of    Intelligent and Robotic Systems</em>, vol. 66, no. 1-2, pp. 125-149, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=DBLP%3Ajournals%2Fjirs%2FLoncomillaR12&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/rigid-3d.pdf">[pdf]</a></li>

                        <li> [61] Luca Iocchi, Javier Ruiz-del-Solar, Tijn van der Zant, <a href="http://vision.die.uchile.cl/filesJavier/JIRS_DSRRW2012.pdf">&quot;Domestic Service Robots in    the Real World&quot;</a>, <em>In JOURNAL OF    INTELLIGENT &amp; ROBOTIC SYSTEMS</em>, vol. 66, no. 1-2, SI, pp. 183-186,    2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000300706800011&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JIRS_DSRRW2012.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1007/s10846-011-9628-7">[doi]</a></li>

                        <li> [60] Javier Ruiz-del-Solar, Alfredo Weitzenfeld, <a href="http://vision.die.uchile.cl/filesJavier/JIRS2012.pdf">&quot;Advances in Robotics in Latin    America&quot;</a>, <em>In JOURNAL OF    INTELLIGENT &amp; ROBOTIC SYSTEMS</em>, vol. 66, no. 1-2, SI, pp. 1-2, 2012. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000300706800001&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JIRS2012.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1007/s10846-011-9629-6">[doi]</a></li>
                    </ul>

                    <br>
                    <h4>2011</h4>
                    <ul>
                       <li> [59] Rodrigo Verschae, Mario Koeppen, Kaori Yoshida, <a href="http://vision.die.uchile.cl/files/SIMPAT_verschae.pdf">&quot;Partial user-supplied    information and user modeling for improving QoS&quot;</a>, <em>In International Journal on Simulation Modelling Practice and    Theory (SIMPAT)</em>, vol. 19, no. 1, pp. 47-55, 2011. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2010SIMPAT&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/SIMPAT_verschae.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.simpat.2010.06.014">[doi]</a></li>
                             
                        <li> [58] J. Testart, J. Ruiz del Solar, R. Schulz, P. Guerrero, R. Palma-Amestoy, <a href="http://vision.die.uchile.cl/filesJavier/JIRS_ARTH2011.pdf">&quot;A Real-Time Hybrid    Architecture for Biped Humanoids with Active Vision Mechanisms&quot;</a>, <em>In Journal of Intelligent &amp; Robotic Systems</em>, Springer,    vol. 63, no. 2, pp. 233-255, 2011. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=testart2011real&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JIRS_ARTH2011.pdf">[pdf]</a></li>
                            
                        <li> [57] L. Pizarro, J. Delpiano, P. Aljabar, J. Ruiz-del-Solar, D. Rueckert, <a href="http://vision.die.uchile.cl/filesJose/pizarro11_isbi.pdf">&quot;Towards dense motion    estimation in light and electron microscopy&quot;</a>, <em>In Biomedical Imaging: From Nano to Macro, 2011 IEEE    International Symposium on</em>, pp. 1939-1942, 2011. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=pizarro2011towards&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJose/pizarro11_isbi.pdf">[pdf]</a></li>
                            
                        <li> [56] Mauricio Correa, Javier Ruiz-del-Solar, Rodrigo Verschae S.    Parra-Tsunekawa, &quot;A realistic simulation tool for testing face    recognition systems under real-world conditions&quot;, <em>In RoboCup 2010:    Robot Soccer World Cup XIV</em>, Springer, pp. 13-24, 2011. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=correa2011realistic&bib=all.bib">[bib]</a></li>
                            
                        <li> [55] Paul Vallejos, Javier Ruiz-del-Solar, Francisco Swett, <a href="http://vision.die.uchile.cl/filesJavier/JIRS2011.pdf">&quot;A New Methodology for the Design of    Passive Biped Robots: Determining Conditions on the Robot's Parameters for    the Existence of Stable Walking Cycles&quot;</a>, <em>In JOURNAL OF INTELLIGENT &amp; ROBOTIC SYSTEMS</em>, vol. 63, no.    3-4, pp. 503-523, 2011. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000293639800008&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JIRS2011.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1007/s10846-010-9524-6">[doi]</a></li>
                    </ul>


                    <br>
                    <h4>2010</h4>
                    <ul>
                        <li> [54] Javier    Ruiz-del-Solar, Rodrigo Verschae, Matias Arenas, Patricio Loncomilla, <a href="http://vision.die.uchile.cl/files/RAM_2010.pdf">&quot;Play Ball! Fast and Accurate Multiclass    Visual Detection of Robots and its Application to Behavior Recognition&quot;</a>, <em>In Robotics Automation Magazine, IEEE</em>, vol. 17, no. 4, pp. 43    -53, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2010RAM&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/RAM_2010.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1109/MRA.2010.938840">[doi]</a></li>

                        <li> [53] Rodrigo    Verschae, Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/files/icpr2010final.pdf">&quot;Coarse-To-Fine    Multiclass Nested Cascades for Object Detection&quot;</a>, <em>In    International Conference on Pattern Recognition (ICPR)</em>, IEEE Computer    Society, vol. 0, Los Alamitos, CA, USA, pp. 344-347, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2010ICPR&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/icpr2010final.pdf">[pdf]</a> <a href="http://dx.doi.org/http:/doi.ieeecomputersociety.org/10.1109/ICPR.2010.93">[doi]</a></li>

                        <li> [52] Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/Thesis_Rodrigo_Verschae_final.pdf">&quot;Object Detection Using    Nested Cascades of Boosted Classifiers: A learning framework and its    extension to the multi-class case&quot;</a>, PhD    thesis, Universidad de Chile, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=objectdetection&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/Thesis_Rodrigo_Verschae_final.pdf">[pdf]</a></li>

                        <li> [51] Mario Koeppen, Rodrigo Verschae, Kaori Yoshida, Masato Tsuru,    &quot;Comparison of Evolutionary Multi-Objective Optimization Algorithms for    the Utilization of Fairness in Network Control&quot;, <em>In SCM 2010 (to    appear)</em>, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=koeppen2010scm&bib=all.bib">[bib]</a></li>

                        <li> [50] Javier Ruiz-del-Solar, Mauricio Mascar&oacute;, Mauricio Correa, Fernando    Bernuy, Romina Riquelme, Rodrigo Verschae, &quot;Analyzing the Human-Robot    Interaction Abilities of a General-Purpose Social Robot in Different    Naturalistic Environments&quot;, <em>In Lecture Notes in Computer Science    (RoboCup Symposium 2009)</em>, vol. 5949, pp. 308-319, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=jrs2009analyzingrobot&bib=all.bib">[bib]</a></li>

                        <li> [49] Javier    Ruiz-del-Solar, Rodrigo Verschae, Mauricio Correa, Jong Lee-Ferng, Nelson    Castillo, <a href="http://vision.die.uchile.cl/files/GestureRecognition.pdf">&quot;Real-Time    Hand Gesture Recognition for Human Robot Interaction. Lecture Notes in Computer Science (RoboCup    Symposium 2009)&quot;</a>, <em>In </em>, vol. 5949,    pp. 46-57, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=jrs2009Hand&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/GestureRecognition.pdf">[pdf]</a></li>
                        <li> [48] Jong Lee-Ferng, Javier Ruiz-del-Solar, Mauricio Correa, Rodrigo    Verschae, <a href="http://vision.die.uchile.cl/DynamicV3.pdf">&quot;Hand Gesture Recognition for Human    Robot Interaction in Uncontrolled Environments&quot;</a>, <em>In Workshop on Multimodal Human - Robot Interfaces, 2010 IEEE    International Conference on Robotics and Automation</em>, Anchorage, Alaska, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=jong2010&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/DynamicV3.pdf">[pdf]</a></li>
                        <li> [47] Matias Arenas, Javier Ruiz-del-Solar, Rodrigo Verschae, Patricio    Loncomilla, <a href="http://vision.die.uchile.cl/files/RobotDetector.pdf">&quot;Visual Detection of Legged Robots and    Its Application to Robot Soccer Playing and Refereeing&quot;</a>, <em>In International Journal on Humanoid Robotics</em>, vol. 7, no. 4,    pp. 669-698, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=arenas2010IJHR&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/RobotDetector.pdf">[pdf]</a> <a href="http://dx.doi.org/http:/dx.doi.org/10.1142/S0219843610002222">[doi]</a></li>
                        <li> [46] Pablo Guerrero,    Javier Ruiz-Del-Solar, Miguel Romero, Sergio Angulo, <a href="http://vision.die.uchile.cl/filesJavier/IJHR_TOPAV2010.pdf">&quot;TASK-ORIENTED    PROBABILISTIC ACTIVE VISION&quot;</a>, <em>In INTERNATIONAL JOURNAL OF    HUMANOID ROBOTICS</em>, vol. 7, no. 3, pp. 451-476, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000284230200007&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IJHR_TOPAV2010.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1142/S0219843610002179">[doi]</a></li>
                        <li> [45] Rodrigo    Palma-Amestoy, Javier Ruiz-Del-Solar, Jose Miguel Yanez, Pablo Guerrero, <a href="http://vision.die.uchile.cl/filesJavier/IJHR2010.pdf">&quot;SPATIOTEMPORAL    CONTEXT INTEGRATION IN ROBOT VISION&quot;</a>, <em>In INTERNATIONAL JOURNAL OF    HUMANOID ROBOTICS</em>, vol. 7, no. 3, pp. 357-377, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000284230200003&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IJHR2010.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1142/S0219843610002192">[doi]</a></li>
                        <li> [44] Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/IS2010.pdf">&quot;Additional elements on the use of    robots for childcare&quot;</a>, <em>In    INTERACTION STUDIES</em>, vol. 11, no. 2, pp. 253-256, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000280615600012&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IS2010.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1075/is.11.2.12rui">[doi]</a></li>
                        <li> [43] Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/IEEE_TE2010.pdf">&quot;Robotics-Centered Outreach    Activities: An Integrated Approach&quot;</a>, <em>In    IEEE TRANSACTIONS ON EDUCATION</em>, vol. 53, no. 1, pp. 38-45, 2010. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000274211300007&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IEEE_TE2010.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1109/TE.2009.2022946">[doi]</a></li>
                    </ul>


                    <br>
                    <h4>2009</h4>
                    <ul>
                        <li> [42] J.C. Zagal, J. Delpiano, J. Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/filesJose/Zagal2009.pdf">&quot;Self-modeling in humanoid soccer    robots&quot;</a>, <em>In Robotics and    Autonomous Systems</em>, Elsevier, vol. 57, no. 8, pp. 819-827, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=zagal2009self&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJose/Zagal2009.pdf">[pdf]</a></li>

                        <li> [41] Rodrigo Verschae, Mario Koeppen, Kaori Yoshida, &quot;User Modeling    for Improving QoS using partial user supplied information&quot;, <em>In    WIND'09 Workshop, INCoS'09</em>, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2009qos&bib=all.bib">[bib]</a></li>

                        <li> [40] Javier Ruiz-del-Solar, Rodrigo Verschae, Mauricio Correa, <a href="http://vision.die.uchile.cl/files/p1-ruiz-del-solar.pdf">&quot;Recognition of Faces in    Unconstrained Environments: A Comparative Study&quot;</a>, <em>In EURASIP Journal on Advances in Signal Processing</em>, vol. -,    2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=jrs2009rec&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/p1-ruiz-del-solar.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1155/2009/184617">[doi]</a></li>

                        <li> [39] Javier Ruiz-del-Solar, Rodrigo Verschae, Jong Lee-Ferng, Mauricio    Correa, &quot;Dynamic Gesture Recognition for Human Robot Interaction&quot;, <em>In    LARS 2009 (CD Proceedings)</em>, Valparaiso, Chile, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=jrs20009dynamic&bib=all.bib">[bib]</a></li>

                        <li> [38] Gabriel Hermosilla, Javier Ruiz-del-Solar, Rodrigo Verschae, Mauricio    Correa, &quot;Face Recognition using Thermal Infrared Images for Human-Robot    Interaction Applications: A Comparative Study&quot;, <em>In LARS 2009 (CD    Proceedings)</em>, Valparaiso, Chile, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=hermosilla2009&bib=all.bib">[bib]</a></li>

                        <li> [37] J. Ruiz-del-Solar, R. Palma-Amestoy, R. Marchant, I. Parra-Tsunekawa,    P. Zegers, <a href="http://vision.die.uchile.cl/filesJavier/RAS2009.pdf">&quot;Learning to fall: Designing low damage    fall sequences for humanoid soccer robots&quot;</a>, <em>In ROBOTICS AND AUTONOMOUS SYSTEMS</em>, vol. 57, no. 8, SI, pp.    796-807, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000267630400005&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/RAS2009.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.robot.2009.03.011">[doi]</a></li>

                        <li> [36] L. E. Achurra, J. P. Lacassie, J. P. Le Roux, C. Marquardt, M. Belmar,    J. Ruiz-del-Solar, S. E. Ishman, <a href="http://vision.die.uchile.cl/filesJavier/SG2009.pdf">&quot;Manganese nodules in the Miocene Bahia    Inglesa Formation, north-central Chile: Petrography, geochemistry, genesis    and palaeoceanographic significance&quot;</a>, <em>In    SEDIMENTARY GEOLOGY</em>, vol. 217, no. 1-4, pp. 128-139, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000266762400008&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/SG2009.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.sedgeo.2009.03.016">[doi]</a></li>

                        <li> [35] Javier Ruiz-Del-Solar, Patricio Loncomilla, <a href="http://vision.die.uchile.cl/filesJavier/AR2009.pdf">&quot;Robot Head Pose Detection and Gaze    Direction Determination Using Local Invariant Features&quot;</a>, <em>In ADVANCED ROBOTICS</em>, vol. 23, no. 3, pp. 305-328, 2009. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000264390900003&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/AR2009.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1163/156855308X397497">[doi]</a></li>
                    </ul>

                    <br>
                    <h4>2008</h4>
                    <ul>
                        <li> [34] Rodrigo Verschae, Javier Ruiz-del-Solar, Mauricio Correa, <a href="http://hal.inria.fr/inria-00326730/en/">&quot;Face Recognition in Unconstrained    Environments: A Comparative Study&quot;</a>, <em>In    Workshop on Faces in 'Real-Life' Images: Detection, Alignment, and    Recognition</em>, Marseille France, 2008. (<a href="http://vision.die.uchile.cl/files/Verschae_face_rec_LFW2008.pdf">[pdf]    Presentation</a>) <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschaeRec2008ECCV&bib=all.bib">[bib]</a> <a href="http://hal.inria.fr/inria-00326730/en/">[pdf]</a></li>

                        <li> [33] Rodrigo Verschae, Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/files/CIARP2008_Verschae.pdf">&quot;Multiclass Adaboost and    Coupled Classifiers for Object Detection.&quot;</a>, <em>In CIARP, Lecture Notes in Computer Science (LNCS) (Jose    Ruiz-Shulcloper, Walter G. Kropatsch, eds.)</em>, Springer, vol. 5197, pp.    560-567, 2008. (<a href="http://vision.die.uchile.cl/files/ciarp2008_Verschae_Poster_Multiclass_Object_Detector.pdf">Poster</a>) <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2008ciarp&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/CIARP2008_Verschae.pdf">[pdf]</a></li>

                        <li> [32] Rodrigo Verschae, Javier Ruiz-del-Solar, Mauricio Correa, <a href="http://vision.die.uchile.cl/files/verschae_2008_unified_face_analysis.pdf">&quot;A unified learning framework    for object detection and classification using nested cascades of boosted    classifiers&quot;</a>, <em>In Machine Vision    Applications</em>, Springer-Verlag New York, Inc., vol. 19, no. 2, Secaucus,    NJ, USA, pp. 85-103, 2008. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2008&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/verschae_2008_unified_face_analysis.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1007/s00138-007-0084-0">[doi]</a></li>

                        <li> [31] C. R. McClung, J. Gutzmer, J. P. Lacassie, R. H. Bailie, J.    Ruiz-Del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/JGE2008.pdf">&quot;Reply: Comments by Colliston and Schoch    (2008) on paper by Lacassie et al. (JGE, 91, 81-98 (2006))&quot;</a>, <em>In JOURNAL OF GEOCHEMICAL EXPLORATION</em>, vol. 99, no. 1-3, pp.    66-68, 2008. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000261274200004&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JGE2008.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.gexplo.2008.02.004">[doi]</a> </li>

                        <li> [30] Javier Ruiz-del-Solar, Julio Quinteros, <a href="http://vision.die.uchile.cl/filesJavier/PRL2008.pdf">&quot;Illumination compensation and    normalization in eigenspace-based face recognition: A comparative study of    different pre-processing approaches&quot;</a>, <em>In    PATTERN RECOGNITION LETTERS</em>, vol. 29, no. 14, pp. 1966-1979, 2008. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000259712200009&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/PRL2008.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.patrec.2008.06.015">[doi]</a></li>
                    </ul>

                    <br>
                    <h4>2007</h4>
                    <ul>
                        <li> [29] Aureli Soria-Frisch, Rodrigo Verschae, Aitor Olano, <a href="http://vision.die.uchile.cl/files/Fuzzy_fusion_for_skin_detection.pdf">&quot;Fuzzy fusion for skin    detection&quot;</a>, <em>In Fuzzy Sets and    Systems</em>, vol. 158, no. 3, 2007. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=soriafrisch2007&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/Fuzzy_fusion_for_skin_detection.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.fss.2006.10.018">[doi]</a></li>

                        <li> [28] avier Ruiz-del-Solar, Rodrigo Verschae, Paul Vallejos, Mauricio    Correa, &quot;Face analysis for human computer interaction    applications&quot;, <em>In VISAPP (Special Sessions)</em>, pp. 23-30, 2007. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=DBLP%3Aconf%2Fvisapp%2FRuiz-del-SolarVVC07&bib=all.bib">[bib]</a></li>

                        <li> [27] Matias Arenas, Javier Ruiz-del-Solar, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/ROBOCUP2007_0120_f02d.pdf">&quot;Detection of AIBO and    Humanoid Robots Using Cascades of Boosted Classifiers&quot;</a>, <em>In RoboCup</em>, pp. 449-456, 2007. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=DBLP%3Aconf%2Frobocup%2FArenasRV07&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/ROBOCUP2007_0120_f02d.pdf">[pdf]</a></li>

                        <li> [26] Hardy Franke, Javier Ruiz-del-Solar, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/Francke_Ruiz-Del-Solar_Verschae-Hand_Gesture-PSVIT2007-139.pdf">&quot;Real-Time Hand Gesture    Detection and Recognition Using Boosted Classifiers and Active Learning&quot;</a>, <em>In PSIVT</em>, pp. 533-547, 2007. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=DBLP%3Aconf%2Fpsivt%2FFrankeRV07&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/Francke_Ruiz-Del-Solar_Verschae-Hand_Gesture-PSVIT2007-139.pdf">[pdf]</a></li>

                        <li> [25] Juan Cristobal Zagal, Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/JIRS2007.pdf">&quot;Combining simulation and reality in    evolutionary robotics&quot;</a>, <em>In    JOURNAL OF INTELLIGENT &amp; ROBOTIC SYSTEMS</em>, vol. 50, no. 1, pp. 19-39,    2007. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000248885500003&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JIRS2007.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1007/s10846-007-9149-6">[doi]</a></li>
                     </ul>

                    <br>
                    <h4>2006</h4>
                    <ul>
                        <li> [24] Rodrigo Verschae, &quot;Improvement of a Face Detection System using    A-Contrario Validation Methods&quot;, Master's thesis, CMLA, ENS Cachan,    2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2006trcachan&bib=all.bib">[bib]</a></li>

                        <li> [23] Javier    Ruiz-del-Solar, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/TR_UCH-DIE-VISION-2006-01.pdf">&quot;SKINDIFF.    Robust and Fast Skin    Segmentation&quot;</a>, Technical report,    UCH-DIE-VISION-2006-01, Universidad de Chile, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2006trSkin&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/TR_UCH-DIE-VISION-2006-01.pdf">[pdf]</a></li>

                        <li> [22] Rodrigo Verschae, Javier Ruiz-del-Solar, Mauricio Correa, <a href="http://vision.die.uchile.cl/files/TR_UCH-DIE-VISION-2006-02.pdf">&quot;A Unified Learning Framework    for Face, Eyes and Gender Detection using Nested Cascades of Boosted    Classifiers&quot;</a>, Technical report,    UCH-DIE-VISION-2006-02, Universidad de Chile, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2006tr&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/TR_UCH-DIE-VISION-2006-02.pdf">[pdf]</a></li>

                        <li> [21] Rodrigo Verschae, Javier Ruiz-del-Solar, Mauricio Correa, <a href="http://vision.die.uchile.cl/files/42250068.pdf">&quot;Gender Classification of Faces using    Adaboost&quot;</a>, <em>In CIARP, Lecture    Notes in Computer Science (LNCS)</em>, vol. 4225, pp. 68-77, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2006&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/42250068.pdf">[pdf]</a></li>

                        <li> [20] Rodrigo Verschae, Javier Ruiz-del-Solar, &quot;Applications of Soft    Computing: Recent Trends&quot;, <em>Chapter in State of the Art Face    Detection: Cascade Boosting Approaches</em>, Springer, vol. 36, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2005tutorial&bib=all.bib">[bib]</a></li>

                        <li> [19] J. Delpiano, P. Zegers, <a href="http://dx.doi.org/10.1109/IJCNN.2006.246907">&quot;Semi-Autonomous    Neural Networks Differential Equation Solver&quot;</a>, In Neural Networks,    2006. IJCNN'06. International Joint Conference on, pp. 1863-1869, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=delpiano2006semi&bib=all.bib">[bib]</a> <a href="http://dx.doi.org/10.1109/IJCNN.2006.246907">[pdf]</a></li>

                        <li> [18] J. Delpiano, M. Sep&uacute;lveda, <a href="http://vision.die.uchile.cl/filesJose/paper_RD_eng_opt.pdf">&quot;Combining    iterative heuristic optimization and uncertainty analysis methods for robust    parameter design&quot;</a>, In Engineering Optimization, Taylor &amp;    Francis, vol. 38, no. 7, pp. 821-831, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=delpiano2006combining&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJose/paper_RD_eng_opt.pdf">[pdf]</a></li>

                        <li> [17] J. P. Lacassie, C. R. McClung, R. H. Bailie, J. Gutzmer, J.    Ruiz-Del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/JGE2006.pdf">&quot;Geochemical    patterns of schists from the Bushmanland Group: An artificial neural networks    approach&quot;</a>, In JOURNAL OF GEOCHEMICAL EXPLORATION, vol. 91, no. 1-3,    pp. 81-98, 2006. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000241132000006&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/JGE2006.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1016/j.gexplo.2006.03.004">[doi]</a></li>
                    </ul>

                    <br>
                    <h4>2005</h4>
                    <ul>
                        <li> [16] Rodrigo Verschae, Javier Ruiz-del-Solar, Mario Koeppen, Raul    Vicente-Garcia, <a href="http://vision.die.uchile.cl/files/verschae-face.pdf">&quot;Improvement of a Face Detection System    by Evolutionary Multi-Objective Optimization&quot;</a>, <em>In Proceedings of the 5th International Conference on Hybrid    Intelligent Systems</em>, pp. 361-366, 2005. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2005ga&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/verschae-face.pdf">[pdf]</a></li>

                        <li> [15] Javier Ruiz-del-Solar, Victor Castaneda, Rodrigo Verschae, Ricardo    Baeza-Yates, Felipe Ortiz, <a href="http://vision.die.uchile.cl/files/Characterizing_Objectionable_Image_Content.pdf">&quot;Characterizing Objectionable    Image Content (Pornography and Nude Images) of Specific Web Segments: Chile    as a Case Study&quot;</a>, <em>In LA-WEB 2005, 3rd    Latin American Web Congress</em>, Buenos Aires, Argentina, pp. 269-278, 2005. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=ruizdelsolar2005laweb&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/Characterizing_Objectionable_Image_Content.pdf">[pdf]</a></li>

                        <li> [14] Aitor Olano, Aureli Soria-Frisch, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/JEL186.pdf">&quot;Robust skin detection based on the    fuzzy integral&quot;</a>, <em>In Fourth Conference    of the European Society for Fuzzy Logic and Technology -- EUSFLAT 2005 --</em>,    Barcelona, pp. 1135-1140, 2005. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=olano2005&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/JEL186.pdf">[pdf]</a></li>

                        <li> [13] J Ruiz-Del-Solar, P Navarrete, <a href="http://vision.die.uchile.cl/filesJavier/IEEE_TSMC2005.pdf">&quot;Eigenspace-based face    recognition: A comparative study of different approaches&quot;</a>, <em>In IEEE TRANSACTIONS ON SYSTEMS MAN AND CYBERNETICS PART    C-APPLICATIONS AND REVIEWS</em>, vol. 35, no. 3, pp. 315-325, 2005. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000230797600005&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IEEE_TSMC2005.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1109/TSMCC.2005.848201">[doi]</a></li>

                        <li> [12] Javier Ruiz-del-Solar, Rodrigo Verschae, Daniel Kottow, <a href="http://vision.die.uchile.cl/files/JRdS_Verschae_Kottow_Skin_Detection_in_Videos_in_the_Spatial-Range_Domain.pdf">&quot;Skin Detection in Videos in    the Spatial-Range Domain&quot;</a>, <em>In    Lecture Notes in Computer Science</em>, vol. 3617, pp. 961-969,, 2005. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=%0A+++++++++++++++++Springer%22&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/JRdS_Verschae_Kottow_Skin_Detection_in_Videos_in_the_Spatial-Range_Domain.pdf">[pdf]</a></li>
                    </ul>

                    <br>
                    <h4>2004</h4>
                    <ul>
                        <li> [11] Javier Ruiz-del-Solar, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/cr2455.pdf">&quot;Robust Skin Segmentation Using    Neighborhood Information&quot;</a>, <em>In    the Eleventh International Conference on Image Processing (ICIP 2004), pp.    207-210, October 24-27, 2004, Singapore, IEEE Press.</em>, 2004. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=ruizdelsolar2004ICIP&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/cr2455.pdf">[pdf]</a></li>

                        <li> [10] Javier Ruiz-del-Solar, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/Fg2004.pdf">&quot;Skin Detection using Neighborhood    Information&quot;</a>, <em>In Proceedings of    the 6th International Conference on Automatic Face and Gesture Recognition    (FG2004)</em>, Seoul, Korea, pp. 463-468, 2004. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=ruizdelsolar2004FG&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/Fg2004.pdf">[pdf]</a></li>

                        <li> [09] Alex Jaimes, Javier Ruiz-del-Solar, Rodrigo Verschae, Dinko Yaksic,    Ricardo Baeza-Yates, Emilio Davis, Carlos Castillo, <a href="http://vision.die.uchile.cl/files/jaimes_04_image_content_web_segment.pdf">&quot;On the Image Content of a    Web segment: Chile a case study&quot;</a>, <em>In    Invited Paper , Journal of Web Engineering</em>, vol. 3, no. 2, pp. 153-168,    2004. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=jaimes2007&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/jaimes_04_image_content_web_segment.pdf">[pdf]</a></li>

                        <li> [08] Ricardo Baeza-Yates, Javier Ruiz-del-Solar, Rodrigo Verschae, Carlos    Castillo, Carlos Hurtado, <a href="http://vision.die.uchile.cl/files/CIVR2004.pdf">&quot;Content-based Image Retrieval and    Characterization on Specific Web Collections&quot;</a>, <em>In Lecture Notes in Computer Science 3115, Springer, Proceedings    of the 3rd International Conference on Image and Video Retrieval(CIVR2004)</em>,    Dublin City University, Ireland, pp. 189-198, 2004. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=baezayates2004CIVR&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/CIVR2004.pdf">[pdf]</a></li>

                        <li> [07] J Ruiz-del-Solar, R Aviles, <a href="http://vision.die.uchile.cl/filesJavier/IEEE_TE2004.pdf">&quot;Robotics courses for    children as a motivation tool: The Chilean experience&quot;</a>, <em>In IEEE TRANSACTIONS ON EDUCATION</em>, vol. 47, no. 4, pp.    474-480, 2004. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000225088200008&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IEEE_TE2004.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1109/TE.2004.825063">[doi]</a></li>
                    </ul>

                    <br>
                    <h4>2003</h4>
                    <ul>
                        <li> [06] Rodrigo Verschae, &quot;Face Detection on Image Databases (In    Spanish)&quot;, Master's thesis, Universidad de Chile, 2003. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2003chile&bib=all.bib">[bib]</a></li>

                        <li> [05] Rodrigo Verschae, Javier Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/files/IWANN2003.pdf">&quot;A Hybrid Face Detector based on an    Asymmetrical Adaboost Cascade Detector and a Wavelet-Bayesian-Detector&quot;</a>, <em>In Lecture Notes in Computer Science 2686</em>, pp. 742-749, 2003. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=verschae2003&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/IWANN2003.pdf">[pdf]</a></li>

                        <li> [04] Alex Jaimes, Javier Ruiz-del-Solar, Rodrigo Verschae, Dinko Yaksic,    Ricardo Baeza-Yates, Emilio Davis, Carlos Castillo, <a href="http://vision.die.uchile.cl/files/laWeb2003.pdf">&quot;On the Image Content of the Web in    Chile&quot;</a>, <em>In Proceedings of    the 1st Latin American Web Conference(LA-Web'03)</em>, Santiago de Chile,    Chile, pp. 72-83, 2003. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=ruizdelsolar2003LAWEB&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/laWeb2003.pdf">[pdf]</a></li>

                        <li> [03] Javier Ruiz-del-Solar, Alon Shats, Rodrigo Verschae, <a href="http://vision.die.uchile.cl/files/Real-Time_Tracking_of_Multiple_Persons.pdf">&quot;Real-Time Tracking of    Multiple Persons&quot;</a>, <em>In Proceedings of    the 12th International Conference on Image Analysis and Processing (ICIAP'03)</em>,    Mantova, Italy, pp. 109-114, 2003. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=ruizdelsolar2003&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/files/Real-Time_Tracking_of_Multiple_Persons.pdf">[pdf]</a></li>
                    </ul>

                    <br>
                    <h4>2002</h4>
                    <ul>
                        <li> [02] P Navarrete, J Ruiz-Del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/IJPRAI2002.pdf">&quot;Analysis and comparison of    eigenspace-based face recognition approaches&quot;</a>, <em>In INTERNATIONAL JOURNAL OF PATTERN RECOGNITION AND ARTIFICIAL    INTELLIGENCE</em>, vol. 16, no. 7, pp. 817-830, 2002. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000179800300004&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/IJPRAI2002.pdf">[pdf]</a> <a href="http://dx.doi.org/10.1142/S0218001402002003">[doi]</a></li>
                    </ul>

                    <br>
                    <h4>1998</h4>
                    <ul>
                        <li> [01] J Ruiz-del-Solar, <a href="http://vision.die.uchile.cl/filesJavier/">&quot;TEXSOM: Texture segmentation    using self-organizing maps&quot;</a>, <em>In       NEUROCOMPUTING</em>, vol. 21, no. 1-3, pp. 7-18, 1998. <a href="http://vision.die.uchile.cl/bibtexbrowser.php?key=+ISI%3A000077387400002&bib=all.bib">[bib]</a> <a href="http://vision.die.uchile.cl/filesJavier/">[pdf]</a> <a href="http://dx.doi.org/10.1016/S0925-2312%2898%2900041-1">[doi]</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">

                    <!-- National Publications -->
                    <h2 class="title">National Journal Papers</h2>
                    <br>
                    <ul>
                        <li> alma-Amestoy, R., Guerrero, P., Vallejos, P., Ruiz-del-Solar, J. (2006). <strong>Segmentaci&oacute;n Din&aacute;mica de Colores para robots Aibo</strong>. Anales del Instituto de Ingenieros de Chile, Vol. 118, No. 2, 71-81. </li>

                        <li> Zagal., J., and Ruiz-del-Solar, J. (2004). <a href="http://www.robocup.cl/papers/Aprendizaje%20de%20comportamientos%20complejos%20en%20robots%20cuadrupedos.pdf" target="_self">Aprendizaje de Comportamientos Complejos en Robots Cuadr&uacute;pedos</a>. Anales del Instituto de Ingenieros de Chile, Vol. 116, No. 1, 17 - 31. </li>

                        <li> Guerrero, P., and Ruiz-del-Solar, J. (2003) <a href="http://www.robocup.cl/papers/Auto-localizacion%20de%20un%20robot%20movil%20aibo%20mediante%20el%20metodo%20de.pdf" target="_self">Auto-localizaci&oacute;n de un Robot M&oacute;vil AIBO mediante el M&eacute;todo de Monte Carlo</a>. Anales del Instituto de Ingenieros de Chile, Vol. 115, No. 3, 91 &ndash; 102. </li>

                        <li> Zagal., J., and Ruiz-del-Solar, J. (2003). <a href="http://www.robocup.cl/papers/Adaptacion%20evolutiva%20de%20un%20sistema%20visual%20de%20reconocimiento%20de%20objetos%20para%20el%20campeonato%20de%20futbol%20robotico%20robocup.pdf" target="_self">Adaptaci&oacute;n Evolutiva de un Sistema Visual de Reconocimiento de Objetos para el Campeonato de F&uacute;tbol Rob&oacute;tico Robocup</a>. Anales del Instituto de Ingenieros de Chile, Vol. 115, No. 1, 11-22. </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
