---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Homebreakers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/team-bg.jpg" title="About Us" subtitle="The team" meta="" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">The Team</h2>

                    <p>UChile Homebreakers was founded on 2006 and we have been developing Bender since then. We focus on human-robot interaction (HRI), computer vision, autonomous navigation, and manipulation research.</p>

                    <p>Our team is composed by more than 20 people pursuing bachelors, masters and doctorate programs in Computer Science, Electrical Engineering, Mechanical Engineering and Engineering in Biotechnology.</p>

                    <p>As a team, we have made efforts to spread robotics among chilean children at schools, and to guide new engineering students who are interested in the field.</p>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/jrds.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Javier Ruiz del Solar</h2>
                                    <p><b>Team Supervisor</b><br>
                                        E.E. MSc. PhD <br>
                                        E.E Professor <br>
                                        Executive Director of the AMTC  </p>
                                    <a href="https://uchile.cl/portafolio-academico/portafolio-academico/academico/18188" target="_blank" class="btn">more</a>
                                </div>
                            </div>
                            <blockquote> Javier Ruiz del Solar <br> Team Supervisor</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/gonzalo_olguin.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Gonzalo Olguín Moncada</h2>
                                    <p><b>Team Manager</b><br>
                                        E.E. MSc. Student  </p>
                                    <a href="https://www.linkedin.com/in/gonzalo-olguin/" target="_blank" class="btn">more</a>
                                </div>
                            </div>
                            <blockquote> Gonzalo Olguín Moncada<br>Team Manager</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/mattias_prieto.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Mattias Prieto </h2>
                                    <p><b>Team Manager</b><br>
                                        E.E. Student  </p>
                                    <!-- <a href="https://www.linkedin.com/in/gonzalo-olguin/" target="_blank" class="btn">more</a> -->
                                </div>
                            </div>
                            <blockquote> Mattias Prieto<br>Team Manager</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/rodrigo_navarro.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Rodrigo Navarro </h2>
                                    <p><b>Team Leader</b><br>
                                        E.E. MSc. Student  </p>
                                    <a href="https://www.linkedin.com/in/rodrigo-navarro-a11911252/?originalSubdomain=cl" target="_blank" class="btn">more</a>
                                </div>
                            </div>
                            <blockquote> Rodrigo Navarro<br> Team Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/eduardo_loayza.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Eduardo Loayza </h2>
                                    <p><b>Team Leader</b><br>
                                        M.E. Student  </p>
                                    <!-- <a href="https://www.linkedin.com/in/gonzalo-olguin/" target="_blank" class="btn">more</a> -->
                                </div>
                            </div>
                            <blockquote> Eduardo Loayza<br> Team Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/pablo_alfessi.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Pablo Alfessi </h2>
                                    <p><b>Team Leader</b><br>
                                        E.E. Student  </p>
                                    <!-- <a href="https://www.linkedin.com/in/gonzalo-olguin/" target="_blank" class="btn">more</a> -->
                                </div>
                            </div>
                            <blockquote> Pablo Alfessi<br> Team Leader</blockquote>
                        </div>

                        <div class="col-sm-4">
                            <div class="view view_first">
                                <img src="static/img/the_team/ignacio_romero.jpg" alt=""/>
                                <div class="mask">
                                    <h2>Ignacio Romero Aravena </h2>
                                    <p><b>Team Leader</b><br>
                                        E.E. Student  </p>
                                    <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a>
                                </div>
                            </div>
                            <blockquote> Ignacio Romero Aravena<br> Team Leader</blockquote>
                        </div>

                        
                    

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/lucas_orellana.jpg" alt=""/>
                            <div class="mask">
                                <h2>Lucas Orellana Jara</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <a href="https://www.linkedin.com/in/lucas-orellana-jara/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Lucas Orellana Jara<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/placeholder.jpg" alt=""/>
                            <div class="mask">
                                <h2>Leslie Cárdenas Villegas</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <a href="https://www.linkedin.com/in/lcardenasvillegas/?originalSubdomain=cl" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Leslie Cárdenas Villegas<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/matias_guzman.jpg" alt=""/>
                            <div class="mask">
                                <h2>Matías Guzmán Parra</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <a href="https://www.linkedin.com/in/matiasguzmanp/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Matías Guzmán Parra<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/bruno_cavieres.jpg" alt=""/>
                            <div class="mask">
                                <h2>Bruno Cavieres</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <a href="https://www.linkedin.com/in/bruno-cavieres-777798130/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Bruno Cavieres<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/felipe_valenzuela.jpg" alt=""/>
                            <div class="mask">
                                <h2>Felipe Valenzuela</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote> Felipe Valenzuela<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/benjamin_rojas.jpg" alt=""/>
                            <div class="mask">
                                <h2>Benjamín Rojas</h2>
                                <p><b>Team Member</b><br>
                                    M.E. Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote> Benjamín Rojas<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/rodrigo_ortiz.jpg" alt=""/>
                            <div class="mask">
                                <h2>Rodrigo Ortiz Mendez</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <a href="https://www.linkedin.com/in/rodrigo-ortiz-mendez/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Rodrigo Ortiz Mendez<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/irma_scheihing.jpg" alt=""/>
                            <div class="mask">
                                <h2>Irma Scheihing Hitschfeld</h2>
                                <p><b>Team Member</b><br>
                                    M.E. Student  </p>
                                <a href="https://www.linkedin.com/in/irma-andrea-scheihing-hitschfeld-14593a195/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Irma Scheihing Hitschfeld<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/eduardo_silva.jpg" alt=""/>
                            <div class="mask">
                                <h2>Eduardo Silva Gaete</h2>
                                <p><b>Team Member</b><br>
                                    M.Sc. in DS Student  </p>
                                <a href="https://www.linkedin.com/in/eduardo-silva-gaete-4b0aa5218/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Eduardo Silva Gaete<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/antu_salas.jpg" alt=""/>
                            <div class="mask">
                                <h2>Antü Salas Leiva</h2>
                                <p><b>Team Member</b><br>
                                    B.E. in Biotechnology Student  </p>
                                <a href="https://www.linkedin.com/in/ant%C3%BC-salas-leiva-20502922a/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Antü Salas Leiva<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/rosangel_arispe.jpg" alt=""/>
                            <div class="mask">
                                <h2>Rosangel Arispe</h2>
                                <p><b>Team Member</b><br>
                                    E. Student  </p>
                                <a href="https://www.linkedin.com/in/rosangelarispe/" target="_blank" class="btn">more</a>
                            </div>
                        </div>
                        <blockquote> Rosangel Arispe<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/felipe_gonzalez.jpg" alt=""/>
                            <div class="mask">
                                <h2>Felipe González Poblete</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote> Felipe González Poblete<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/cristobal_trejo.jpg" alt=""/>
                            <div class="mask">
                                <h2>Cristóbal Trejo</h2>
                                <p><b>Team Member</b><br>
                                    B.E. in Biotechnology Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote> Cristóbal Trejo<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/sebastian_herrera.jpg" alt=""/>
                            <div class="mask">
                                <h2>Sebastián Herrera</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote> Sebastián Herrera<br> Team Member</blockquote>
                    </div>

                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/fernando_sanmartin.jpg" alt=""/>
                            <div class="mask">
                                <h2>Fernando San Martín</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote> Fernando San Martín<br> Team Member</blockquote>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="view view_first">
                            <img src="static/img/the_team/sahian_pizarro.jpg" alt=""/>
                            <div class="mask">
                                <h2>Sahian Pizarro Martínez</h2>
                                <p><b>Team Member</b><br>
                                    E.E. Student  </p>
                                <!-- <a href="https://www.linkedin.com/in/ignacio-romero-aravena/" target="_blank" class="btn">more</a> -->
                            </div>
                        </div>
                        <blockquote>Sahian Pizarro Martínez<br> Team Member</blockquote>
                    </div>
                </div>
                
         


    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
