---
# this is an empty front matter
---
<html lang="en">

<!-- head -->
{% include head.html title="The Team - UChile Homebreakers" %}

<link href="static/css/team-members.css" rel="stylesheet">

<body>

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Page Header -->
    {% include header_img.html image="static/img/bender/team-bg.jpg" title="About Us" subtitle="Former Team Members" meta="" %}

    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">

                    <h2 class="section-heading">Our Former Team Members</h2>
                    The history of our team is long, and a long history always comes with a long list of protagonists. Over the years, 
                    many dedicated individuals have been part of our journey, each leaving an indelible mark on our development. The people 
                    listed below have played crucial roles in our story, contributing their unique talents and hard work to help shape the 
                    laboratory into what it is today. Their efforts and dedication have been instrumental in our growth and success, and we 
                    are proud to recognize their contributions as integral to our team's legacy.
        
                    <br>
                    <br>
                          
                        <!-- PAST MEMBERS -->
                        {% include old_member.html name="Mauricio Correa" image="static/img/bender/people/mcorrea.jpg" info="" %}
                        {% include old_member.html name="Fernando Bernuy" image="static/img/bender/people/fbernuy.jpeg" info="" %}
                        {% include old_member.html name="Carlos Toro" image="static/img/bender/people/ctoro.jpg" info="" %}
                        {% include old_member.html name="Sebastian Cubillos" image="static/img/bender/people/scubillos.jpg" info="" %}
                        {% include old_member.html name="Cristian Solís" image="static/img/bender/people/csolis.jpg" info="" %}
                        {% include old_member.html name="Mauricio Mascaró" image="static/img/bender/people/mmascaro.jpg" info="" %}
                        {% include old_member.html name="Ignacio Olavarría" image="static/img/bender/people/iolavarria.jpg" info="" %}
                        {% include old_member.html name="Alejandro Vargas" image="static/img/bender/people/avargas.jpg" info="" %}
                        {% include old_member.html name="Giovanni Pais" image="static/img/bender/people/gpais.jpg" info="" %}
                        {% include old_member.html name="Leonardo Garrido" image="static/img/bender/people/lgarrido2.jpg" info="" %}
                        {% include old_member.html name="Nicolás Marticorena" image="static/img/bender/people/nmarticorena.jpg" info="" %}
                        {% include old_member.html name="Javier Urrutia" image="static/img/bender/people/jurrutia.jpg" info="" %}
                        {% include old_member.html name="Ignacia Aguilera" image="static/img/bender/people/iaguilera.jpg" info="" %}
                        {% include old_member.html name="Patricio Loncomilla" image="static/img/bender/people/plocomilla.jpg" info="" %}
                        {% include old_member.html name="Luz Martinez" image="static/img/bender/people/luz.jpg" info="" %}
                        {% include old_member.html name="Matías Pavez" image="static/img/bender/people/mpavez.jpg" info="" %}
                        {% include old_member.html name="Rodrigo Muñoz" image="static/img/bender/people/rmuñoz.png" info="" %}
                        {% include old_member.html name="Gonzalo Olave" image="static/img/bender/people/golave.jpg" info="" %}
                        {% include old_member.html name="Gustavo Hernan" image="static/img/bender/people/ghernan.png" info="" %}
                        {% include old_member.html name="Enmanuel Almonte" image="static/img/bender/people/ealmonte.jpg" info="" %}
                        {% include old_member.html name="Diego Baño" image="static/img/bender/people/dbaño.jpg" info="" %}
                        {% include old_member.html name="Dario Palma" image="static/img/bender/people/dpalma.jpg" info="" %}
                        {% include old_member.html name="David Gomez" image="static/img/bender/people/dgomez.jpg" info="" %}
                        {% include old_member.html name="Daniel Herrmann" image="static/img/bender/people/herrmann.JPG" info="" %}
                        {% include old_member.html name="Maria Loreto Sanchez" image="static/img/bender/people/msanchez.jpg" info="" %}
                        {% include old_member.html name="Carlos Tampier" image="static/img/bender/people/ctampier.jpg" info="" %}
                        {% include old_member.html name="Wilma Pairo" image="static/img/bender/people/wpairo.jpg" info="" %}
                        {% include old_member.html name="Cristian Retamal" image="static/img/bender/people/cretamal.jpg" info="" %}
                        {% include old_member.html name="Ivan Castro" image="static/img/bender/people/icastro.jpg" info="" %}
                        {% include old_member.html name="Felipe Smith" image="static/img/bender/people/fsmith.JPG" info="" %}
                        {% include old_member.html name="Rodrigo Vershae" image="static/img/bender/people/rverschae.jpg" info="" %}
                        {% include old_member.html name="Pablo Huijse" image="static/img/bender/people/huijse.jpg" info="" %}
                        {% include old_member.html name="Isao Parra Tsunekawa" image="static/img/bender/people/isao.JPG" info="" %}
                        {% include old_member.html name="Jong Bor Lee" image="static/img/bender/people/jongbor.jpg" info="" %}
                        {% include old_member.html name="Romina Riquelme" image="static/img/bender/people/rriquelme.jpg" info="" %}
                        {% include old_member.html name="Simón Norambuena" image="static/img/bender/people/snorambuena.jpg" info="" %}
                        {% include old_member.html name="Ignacio Diaz" image="static/img/bender/people/idiaz.jpg" info="" %}
                        {% include old_member.html name="Diego Baño" image="static/img/bender/people/dbaño.jpg" info="" %}
                        {% include old_member.html name="Ignacio Bugueño" image="static/img/bender/people/Ibugueno.png" info="" %}
                        {% include old_member.html name="Cristopher Gomez" image="static/img/bender/people/cgomez.jpg" info="" %}
                        {% include old_member.html name="Lukas Pavez" image="static/img/bender/people/lpavez.png" info="" %}
                        {% include old_member.html name="José Astorga" image="static/img/bender/people/jastorga.png" info="" %}
                        {% include old_member.html name="Rodrigo Salas" image="static/img/bender/people/rsalas.jpg" info="" %}
                        {% include old_member.html name="Gabriel Guillen" image="static/img/bender/people/gabriel.jpg" info="" %}
                        {% include old_member.html name="Eduardo Jorquera" image="static/img/bender/people/ejorquera.png" info="" %}
                        {% include old_member.html name="Michelle Valenzuela" image="static/img/bender/people/michelle2.jpg" info="" %}
                        {% include old_member.html name="Ulises Campodónico" image="static/img/bender/people/ucampodonico.jpg" info="" %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include footer.html %}

    <!-- bottom imports -->
    {% include bottom.html %}

</body>
</html>
