<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ include.image }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>{{ include.title }}</h1>
                    <hr class="small">
                    <h2 class="subheading">{{ include.subtitle }}</h2>
                    <span class="meta">{{ include.meta }}</span>
                </div>
            </div>
        </div>
    </div>
</header>