<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">UChile Homebreakers</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">Home</a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-nao">
                        <!--<li role="separator" class="divider"></li>-->
                        <li> <a href="about.html">About Us</a> </li>
                        <li><a href="the_team.html">The Team</a></li>
                        <li><a href="former_members.html">Former Team Members</a></li>
                    </ul>
                </li>
                
                <li>
                    

                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Robot: Bender<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-bender">
                        <li><a href="bender-index.html">The Robot: Bender</a></li>
                        <li><a href="bender-robocup.html">Robocup</a></li>
                        <li><a href="bender-gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Robot: Pepper<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-pepper">
                        <li><a href="pepper-index.html">The Robot: Pepper</a></li>
                        <li><a href="pepper-robocup.html">Robocup</a></li>
                        <li><a href="pepper-gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">The Robot: Jaime<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="dropdown-nao">
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="https://uchile.cl/noticias/165189/u-de-chile-creo-robot-que-promueve-la-teleasistencia-en-pacientes" target="_blank">External Page</a></li>
                    </ul>

                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<style>
.dropdown-menu {
    background-color: #5e5e5e;
}

#dropdown-bender li a:hover {
    background-color: orangered;
}
#dropdown-pepper li a:hover {
    background-color: limegreen;
}
#dropdown-nao li a:hover {
    background-color: deepskyblue;
}
</style>
