<nav class="sub-navbar navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="pepper-index.html">UChile Peppers</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="pepper-index.html">Pepper</a></li>
                <li><a href="pepper-team.html">The Team</a></li>
                <li><a href="pepper-robocup.html">Robocup</a></li>
                <li><a href="pepper-gallery.html">Gallery</a></li>
                <li><a href="publications.html">Publications</a></li>
                <li><a href="pepper-devel.html">Development</a></li>
                <li><a href="pepper-news.html">News</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>