.sub-navbar {
    margin-top: -50;
    background-color: transparent;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}

.navbar-custom.is-fixed .nav .dropdown-menu li a {
  color: #fff;
}

header.intro-header .page-heading h1 {
	font-size: 60px;
}